<div id="Modal-Lead-Approval" class="custom-modal">
  <div class="modal-content">
    <div class="modal-header p-3">
      <h5 class="modal-title m-0">{{data.Heading}}</h5>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="px-3 pt-3 pb-0">
    <form [formGroup]="formGroup">

      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Payment Mode</label>
          <select class="form-control" formControlName="PaymentMode"[ngClass]="{ 'is-invalid': f?.PaymentMode?.errors && f?.PaymentMode?.touched}" [(ngModel)]="userSecurity.PaymentModeId">
            <option value="undefined">Select Mode</option>
            <option *ngFor="let data of dropDown!.ddlPaymentMode" [value]="data.Value"> {{data.Text}}
          </select>
          <div class="invalid-feedback"
            *ngIf="(formGroup?.get('PaymentMode')?.hasError('required') && formGroup?.get('PaymentMode')?.touched)">
            Please Select Payment Mode...! </div>
        </div>

        <div class="form-group col-md-4">
          <label>Amount</label>
          <input type="text" class="form-control" id="bnkinput1" [(ngModel)]="userSecurity.Amount"
            formControlName="Amount" (keypress)="_commonService.checkDecimalNumberOnly($event)"
            [ngClass]="{ 'is-invalid': f?.Amount?.errors && f?.Amount?.touched}" placeholder="Enter Amount ">
          <div class="invalid-feedback"
            *ngIf="(formGroup.get('Amount')?.hasError('required') && formGroup.get('Amount')?.touched)">
            Please fill Amount...! </div>
        </div>

        <div class="form-group col-md-4 date-icon-with-label">
          <label>Credit Date</label>
          <input class="form-control" #datepickerApp="bsDatepicker" formControlName="CreditDate"
            [ngClass]="{ 'is-invalid': f?.CreditDate?.errors && f?.CreditDate?.touched}" bsDatepicker
            [(ngModel)]="userSecurity.CreditDate"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true,isAnimated: true, showWeekNumbers: false }">
          <i class="fas fa-calendar-alt" (click)="datepickerApp.toggle()"></i>
          <div class="invalid-feedback"
            *ngIf="(formGroup.get('CreditDate')?.hasError('required') && formGroup.get('CreditDate')?.touched)">
            Please Select Credit Date...! </div>
        </div>

        <div class="form-group col-md-4">
          <label>Referance Number</label>
          <input type="text" class="form-control" id="bnkinput1" [(ngModel)]="userSecurity.ReferanceNumber"
            formControlName="ReferanceNumber"
            [ngClass]="{ 'is-invalid': f?.ReferanceNumber?.errors && f?.ReferanceNumber?.touched}"
            placeholder="Enter number">
          <div class="invalid-feedback"
            *ngIf="(formGroup.get('ReferanceNumber')?.hasError('required') && formGroup.get('ReferanceNumber')?.touched)">
            Please fill Referance Number...! </div>
        </div>

        <div class="form-group col-md-4">
          <label>A/C number</label>
          <input type="text" class="form-control" id="bnkinput1" [(ngModel)]="userSecurity.AccountNumber"
            formControlName="AccountNumber" (keypress)="_commonService.NumberOnly($event)"
            [ngClass]="{ 'is-invalid': f?.AccountNumber?.errors && f?.AccountNumber?.touched}" placeholder="Enter number">
          <div class="invalid-feedback"
            *ngIf="(formGroup.get('AccountNumber')?.hasError('required') && formGroup.get('AccountNumber')?.touched)">
            Please fill Account Number...! </div>
        </div>

        <div class="form-group col-md-4">
          <label>Bank name</label>
          <input type="text" class="form-control" id="bnkinput2" [(ngModel)]="userSecurity.BankName"
            formControlName="BankName" [ngClass]="{ 'is-invalid': f?.BankName?.errors && f?.BankName?.touched}"
            placeholder="Enter Bank name">
          <div class="invalid-feedback"
            *ngIf="(formGroup.get('BankName')?.hasError('required') && formGroup.get('BankName')?.touched)">
            Please fill Bank Name...! </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer border-0 text-center pt-0">
    <button type="submit" (click)="onSubmit()" class="btn btn-success"> <i class="fas fa-check mr-1"></i>
     Submit</button>
    <button type="button" (click)="onClose()" class="btn btn-outline-danger" aria-label="Close"><i
    class="fas fa-times mr-1"></i> Cancel</button>
  </div>
  </div>
</div>

<!-- <div class="widget-content widget-content p-3 form-grp-w-border">
  <h2> <img src="assets/img/security-deposit.png">{{data.Heading}}</h2>
  <form [formGroup]="formGroup">

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Payment Mode</label>
        <select formControlName="PaymentMode"[ngClass]="{ 'is-invalid': f?.PaymentMode?.errors && f?.PaymentMode?.touched}" [(ngModel)]="userSecurity.PaymentModeId">
          <option value="undefined">--Select Status--</option>
          <option *ngFor="let data of dropDown!.ddlPaymentMode" [value]="data.Value"> {{data.Text}}
        </select>
        <div class="invalid-feedback"
          *ngIf="(formGroup?.get('PaymentMode')?.hasError('required') && formGroup?.get('PaymentMode')?.touched)">
          Please Select Payment Mode...! </div>
      </div>

      <div class="form-group col-md-4">
        <label>Amount</label>
        <input type="text" class="form-control" id="bnkinput1" [(ngModel)]="userSecurity.Amount"
          formControlName="Amount" (keypress)="_commonService.checkDecimalNumberOnly($event)"
          [ngClass]="{ 'is-invalid': f?.Amount?.errors && f?.Amount?.touched}" placeholder="Enter Amount ">
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('Amount')?.hasError('required') && formGroup.get('Amount')?.touched)">
          Please fill Amount...! </div>
      </div>

      <div class="form-group col-md-4 date-icon-with-label">
        <label>Credit Date</label>
        <input class="form-control" #datepickerApp="bsDatepicker" formControlName="CreditDate"
          [ngClass]="{ 'is-invalid': f?.CreditDate?.errors && f?.CreditDate?.touched}" bsDatepicker
          [(ngModel)]="userSecurity.CreditDate"
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true,isAnimated: true, showWeekNumbers: false }">
        <i class="fas fa-calendar-alt" (click)="datepickerApp.toggle()"></i>
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('CreditDate')?.hasError('required') && formGroup.get('CreditDate')?.touched)">
          Please Select Credit Date...! </div>
      </div>



      <div class="form-group col-md-4">
        <label>Referance Number</label>
        <input type="text" class="form-control" id="bnkinput1" [(ngModel)]="userSecurity.ReferanceNumber"
          formControlName="ReferanceNumber"
          [ngClass]="{ 'is-invalid': f?.ReferanceNumber?.errors && f?.ReferanceNumber?.touched}"
          placeholder="Enter number">
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('ReferanceNumber')?.hasError('required') && formGroup.get('ReferanceNumber')?.touched)">
          Please fill Referance Number...! </div>

      </div>

      <div class="form-group col-md-4">
        <label>A/C number</label>
        <input type="text" class="form-control" id="bnkinput1" [(ngModel)]="userSecurity.AccountNumber"
          formControlName="AccountNumber" (keypress)="_commonService.NumberOnly($event)"
          [ngClass]="{ 'is-invalid': f?.AccountNumber?.errors && f?.AccountNumber?.touched}" placeholder="Enter number">
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('AccountNumber')?.hasError('required') && formGroup.get('AccountNumber')?.touched)">
          Please fill Account Number...! </div>

      </div>

      <div class="form-group col-md-4">
        <label>Bank name</label>
        <input type="text" class="form-control" id="bnkinput2" [(ngModel)]="userSecurity.BankName"
          formControlName="BankName" [ngClass]="{ 'is-invalid': f?.BankName?.errors && f?.BankName?.touched}"
          placeholder="Enter Bank name">
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('BankName')?.hasError('required') && formGroup.get('BankName')?.touched)">
          Please fill Bank Name...! </div>
      </div>
    </div>
  </form>
</div> -->
