<!-- Page Header Title start -->
<div class="widget-header">
    <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
        <div>
            <h1>District Detail </h1>
            <!-- Breadcrumb Start -->
            <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                    <li class="breadcrumb-item"><a routerLink="{{ '../../../' + this.routing_Url.Kyc_Document_Type_List_Url}}">
                        Districts Master </a></li>
                    <li class="breadcrumb-item active" aria-current="page">District Detail
                    </li>
                </ol>
            </nav>
            <!-- Breadcrumb End -->
        </div>
    </div>
</div>
<!-- Page Header Title end -->

<!-- HTML FORM DIV START -->
<div class="widget-content widget-content p-4">

    <div class="row door-kyc-details">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3 mt-xl-0">
            <div class="custom-card-1">
                <div class="custom-card-1-header"> State</div>
                <div class="custom-card-1-body">{{model.StateName}}</div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3 mt-xl-0">
            <div class="custom-card-1">
                <div class="custom-card-1-header">District</div>
                <div class="custom-card-1-body">{{Model.Name}}</div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3 mt-xl-0">
            <div class="custom-card-1">
                <div class="custom-card-1-header"> Is Active (status)</div>
                <div class="custom-card-1-body">{{model.IsActive ? 'Yes': 'No'}}</div>
            </div>
        </div>
    </div>


    <div class="table-responsive mt-4">
        <table class="table table-bordered no-wrap">
            <thead>
                <tr>
                    <th>Area</th>
                    <th>Pincode</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mansarover</td>
                    <td>302008</td>
                    <td>
                        <div class="table-s-active table-data-status-round text-success d-flex align-items-center"> <span></span> Active </div>
                    </td>
                </tr>
                <tr>
                    <td>Mansarover</td>
                    <td>302008</td>
                    <td>
                        <div class="table-s-dactive  table-data-status-round text-danger d-flex align-items-center"> <span></span> DeActive </div>
                    </td>
                </tr>
                <tr>
                    <td>Mansarover</td>
                    <td>302008</td>
                    <td>
                        <div class="table-s-active table-data-status-round text-success d-flex align-items-center"> <span></span> Active </div>
                    </td>
                </tr>
                <tr>
                    <td>Mansarover</td>
                    <td>302008</td>
                    <td>
                        <div class="table-s-dactive  table-data-status-round text-danger d-flex align-items-center"> <span></span> DeActive </div>
                    </td>
                </tr>
                <tr>
                    <td>Mansarover</td>
                    <td>302008</td>
                    <td>
                        <div class="table-s-active table-data-status-round text-success d-flex align-items-center"> <span></span> Active </div>
                    </td>
                </tr>
                <tr>
                    <td>Mansarover</td>
                    <td>302008</td>
                    <td>
                        <div class="table-s-dactive  table-data-status-round text-danger d-flex align-items-center"> <span></span> DeActive </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
<!-- HTML FORM DIV END -->