<!-- Page Header Title start -->
<div class="widget-header">
    <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
        <div>
            <h1>District Detail </h1>
            <!-- Breadcrumb Start -->
            <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                    <li class="breadcrumb-item"><a routerLink="{{ '../../../' + this.routing_Url.District_List_Url }}">
                        Districts Master </a></li>
                    <li class="breadcrumb-item active" aria-current="page">District Detail
                    </li>
                </ol>
            </nav>
            <!-- Breadcrumb End -->
        </div>
    </div>
</div>
<!-- Page Header Title end -->

<!-- HTML FORM DIV START -->
<div class="widget-content widget-content p-4">

    <div class="row door-kyc-details">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3 mt-xl-0">
            <div class="custom-card-1">
                <div class="custom-card-1-header text-center"> State</div>
                <div class="custom-card-1-body text-center">{{model.StateName}}</div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3 mt-xl-0">
            <div class="custom-card-1">
                <div class="custom-card-1-header text-center">District</div>
                <div class="custom-card-1-body text-center">{{Model.Name}}</div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3 mt-xl-0">
            <div class="custom-card-1">
                <div class="custom-card-1-header text-center"> Is Active (status)</div>
                <div class="custom-card-1-body text-center">{{model.IsActive ? 'Yes': 'No'}}</div>
            </div>
        </div>
    </div>


    <div class="table-responsive mt-4">
        <table class="table table-bordered no-wrap">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Area</th>
                    <th class="text-center">Pincode</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let area of Model.Areas;let ndx = index">
                    <td class="text-center"> {{ndx + 1}}</td>
                    <td class="text-center">{{area.AreaName}}</td>
                    <td class="text-center">{{area.Pincode}}</td>
                    <td class="text-center"> {{area.IsActive ? 'Yes':'No'}}</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
<!-- HTML FORM DIV END -->
