<!-- Page Header Title start -->
<div class="widget-header">
  <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
    <div>
      <h1>Profile</h1>
      <!-- Breadcrumb Start -->
      <nav class="custom-breadcrum">
        <ol class="breadcrumb justify-content-center justify-content-sm-start">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ol>
      </nav>
      <!-- Breadcrumb End -->
    </div>
  </div>
</div>
<!-- Page Header Title end -->
<div class="detail-d-2 pb-4">

  <div class="widget-content widget-content p-3 form-grp-w-border">
      <h2> <img src="assets/img/personal_detail.png">Personal Details</h2>

      <div class="table-responsive">
          <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
              <tbody>
                  <tr>
                      <td style="width: 20%;"> <strong> Full Name </strong> </td>
                      <td style="width: 30%;">Aakash Agrawal</td>
                      <td style="width: 20%;"><strong>Email Id </strong> </td>
                      <td style="width: 30%;">akash14singhal@gmail.com</td>
                  </tr>
                  <tr>
                      <td><strong> Full name: </strong> </td>
                      <td>Rohit kumar sharma</td>
                      <td><strong> Father's name : </strong> </td>
                      <td>Mohit sharma</td>
                  </tr>

                  <tr>

                      <td><strong> Date of birth: </strong> </td>
                      <td>20-02-1997</td>
                      <td><strong> Gender: </strong> </td>
                      <td>Male</td>
                  </tr>

                  <tr>
                      <td><strong> Mobile number: </strong> </td>
                      <td>+91 9862354895</td>
                      <td><strong> Alternative  Mobile number: </strong> </td>
                      <td>+91 9929126987</td>
                  </tr>

                  <tr>

                      <td><strong> Amount Loan: </strong> </td>
                      <td>₹5,00,000</td>
                      <td><strong> Purpose of Loan: </strong> </td>
                      <td>Enter Purpose</td>
                  </tr>
              </tbody>
          </table>
      </div>


  </div>

  <div class="widget-content widget-content p-3 form-grp-w-border">
      <h2> <img src="assets/img/document_details.png">Document & Address Detail</h2>
      <div class="table-responsive">
          <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
              <tbody>
                  <tr>
                      <td style="width: 20%;"> <strong> Document Type: </strong> </td>
                      <td style="width: 30%;">Aadhaar card</td>
                      <td style="width: 20%;"><strong> Document Number: </strong> </td>
                      <td style="width: 30%;">9658-6689-6699-8888</td>
                  </tr>

                  <tr>
                      <td><strong> Address: </strong> </td>
                      <td>5-A new joshi colony</td>
                  </tr>

                  <tr>

                      <td><strong> Area name: </strong> </td>
                      <td>Mansarover</td>
                      <td><strong> District: </strong> </td>
                      <td>Jaipur</td>
                  </tr>
                  <tr>

                      <td><strong> State: </strong> </td>
                      <td>Rajasthan</td>
                      <td><strong> Pincode: </strong> </td>
                      <td>302004</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
