<!-- Page Header Title start -->
<div class="widget-header">
  <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
    <div>
      <h1>Profile</h1>
      <!-- Breadcrumb Start -->
      <nav class="custom-breadcrum">
        <ol class="breadcrumb justify-content-center justify-content-sm-start">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ol>
      </nav>
      <!-- Breadcrumb End -->
    </div>
  </div>
</div>
<!-- Page Header Title end -->
<div class="detail-d-2 pb-4">

  <div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/personal_detail.png">Personal Details</h2>

    <div class="table-responsive">
      <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
        <tbody>
          <tr>
            <td style="width: 20%;"> <strong> Full Name </strong> </td>
            <td style="width: 30%;">{{model!.FullName ?? 'N/A'}}</td>
            <td style="width: 20%;"><strong>Email Id </strong> </td>
            <td style="width: 30%;">{{model!.EmailId ?? 'N/A'}}</td>
          </tr>
          <tr>

            <td><strong> Father's name : </strong> </td>
            <td>{{model?.FatherName ?? 'N/A'}}</td>
            <td><strong> Date of birth: </strong> </td>
            <td>{{(model?.DateOfBirth | date : 'dd-MM-YYYY') ?? 'N/A'}}</td>
          </tr>

          <tr>

            <td><strong> Gender: </strong> </td>
            <td>{{model?.Gender?? 'N/A'}}</td>
            <td><strong> Mobile number: </strong> </td>
            <td>{{model?.Mobile ?? 'N/A'}}</td>
          </tr>
          <tr>


            <td><strong> Alternate number: </strong> </td>
            <td>{{model.SecondaryMobileNumber ??'N/A'}}</td>
          </tr>

          <tr>

            <td><strong> Amount Loan: </strong> </td>
            <td>{{model.LoanAmount ? '₹' : ''}} {{ (model.LoanAmount| number) ?? 'N/A'}}</td>
            <td><strong> Purpose of Loan: </strong> </td>
            <td>{{model.LoanPurpose ??'N/A'}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

  <div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/document_details.png">Document & Address Detail</h2>
    <div class="table-responsive">
      <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
        <tbody>

          <tr *ngFor="let items of model!.KycDocuments">


            <td style="width: 20%;"> <strong> Document Type: </strong> </td>
            <td style="width: 30%;">{{items?.KycdocumentTypeName ?? 'N/A'}}</td>
            <td style="width: 20%;"><strong> Document Number: </strong> </td>
            <td style="width: 30%;">{{items?.Kycnumber ?? 'N/A'}}</td>
          </tr>

          <tr>
            <td><strong> Address: </strong> </td>
            <td>{{model!.Address ?? 'N/A'}}</td>
          </tr>

          <tr>

            <td><strong> Area name: </strong> </td>
            <td>{{model?.AreaName ?? 'N/A'}}</td>
            <td><strong> District: </strong> </td>
            <td>{{model!.District ?? 'N/A'}}</td>
          </tr>
          <tr>

            <td><strong> State: </strong> </td>
            <td>{{model?.State ?? 'N/A' }}</td>
            <td><strong> Pincode: </strong> </td>
            <td>{{model?.Pincode ??'N/A'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
