<div class="form-container page-customer-register">
    <div class="form-form">
        <div class="login-logo">
            <a href="#"> <img src="assets/img/logo.png" alt="AurLo"> </a>
        </div>
        <div class="form-form-wrap mt-5">
            <mat-stepper orientation="vertical" class="mat-custom-steper reg-steper">
                <mat-step>
                    <ng-template matStepLabel>Personal Details</ng-template>
                    <ng-template matStepContent>
                        <div class="step-grp-content">
                            <div class="custom_stepers-body-items-form row">
                                <div class="form-group col-md-6">
                                    <label>Full name <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="input1" placeholder="Enter Full name"> </div>
                                <div class="form-group col-md-6">
                                    <label>Father name <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="input1" placeholder="Enter Father name"> </div>
                                <div class="form-group col-md-6">
                                    <label>Email<em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="input1" placeholder="Enter Email id"> </div>
                                <div class="form-group col-md-6">
                                    <label>Mobile number <em class="text-danger">*</em> </label>
                                    <input type="text" class="form-control" id="input1" placeholder="91 00000-00000"> </div>
                                <div class="form-group col-md-6">
                                    <label>Date of birth </label>
                                    <input type="text" class="form-control" id="input1" placeholder="19-02-1994"> </div>
                                <div class="form-group col-md-6">
                                    <label>Gender</label>
                                    <div class="form-radio-check-grp">
                                        <div class="n-chk d-inline">
                                            <label class="new-control new-radio radio-classic-info">
												<input type="radio" class="new-control-input" name="custom-radio-2" checked> <span class="new-control-indicator"></span>Male </label>
                                        </div>
                                        <div class="n-chk d-inline">
                                            <label class="new-control new-radio radio-classic-info">
												<input type="radio" class="new-control-input" name="custom-radio-2"> <span class="new-control-indicator"></span>Female </label>
                                        </div>
                                        <div class="n-chk d-inline">
                                            <label class="new-control new-radio radio-classic-info">
												<input type="radio" class="new-control-input" name="custom-radio-2"> <span class="new-control-indicator"></span>Other </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-form-btn-grp mt-3">
                                <button mat-button matStepperNext type="submit" class="btn btn-primary"> <i class="fas fa-check mr-1"></i> Save & Next</button>
                            </div>
                        </div>
                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Document Details</ng-template>
                    <ng-template matStepContent>
                        <div class="step-grp-content">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Document Type</label>
                                    <select class="form-control">
										<option>--Pan Card--</option>
										<option>--Aadhaar Card--</option>
										<option>--Driving Licence--</option>
									</select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Enter Doc number</label>
                                    <input type="email" class="form-control" placeholder="#5895588"> </div>
                            </div>
                            <div class="step-form-btn-grp mt-3">
                                <button mat-button matStepperPrevious class="btn btn-outline-danger mr-2">Back</button>
                                <button mat-button matStepperNext type="submit" class="btn btn-primary"> <i class="fas fa-check mr-1"></i> Save & Next</button>
                            </div>
                        </div>
                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Address Details </ng-template>
                    <div class="step-grp-content">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Pincode</label>
                                <input type="email" class="form-control" placeholder="235698" disabled> </div>
                            <div class="form-group col-md-6">
                                <label>Select Area</label>
                                <select class="form-control">
									<option>--Select Area--</option>
									<option>--Select Area--</option>
									<option>--Select Area--</option>
								</select>
                            </div> 6
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="step-form-btn-grp mt-3">
                            <button mat-button matStepperPrevious class="btn btn-outline-danger mr-2">Back</button>
                            <button mat-button matStepperNext type="submit" class="btn btn-primary"> <i class="fas fa-check mr-1"></i> Submit</button>
                        </div>
                    </div>
                </mat-step>
            </mat-stepper>

            <div class="login-page-reg-btn mt-4 text-center">
                Have an account? <a routerLink="#"> Login </a>
            </div>


            <div class="custom_stepers reg-form-steper mt-5 d-none">
                <div class="custom_stepers-header">
                    <div class="custom_stepers-header-items active" id="Reg-Form-1">
                        <a href="#">
                            <label>1</label> <span> Basic Details </span></a>
                    </div>
                    <div class="custom_stepers-header-items" id="Reg-Form-2">
                        <a href="#">
                            <label>2</label> <span> Personal Details </span></a>
                    </div>
                    <div class="custom_stepers-header-items" id="Reg-Form-3">
                        <a href="#">
                            <label>3</label> <span> Complete </span></a>
                    </div>
                </div>
                <div class="custom_stepers-body mt-5">
                    <div class="custom_stepers-body-items" id="Reg-Form-1" style="display: none;">
                        <div class="custom_stepers-body-items-form row">
                            <div class="form-group col-md-6">
                                <label>Mobile number <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" id="input1" placeholder="91 00000-00000"> </div>
                            <div class="form-group col-md-6">
                                <label>First name <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" id="input1" placeholder="Enter First name"> </div>
                            <div class="form-group col-md-6">
                                <label>Last name <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" id="input1" placeholder="Enter Last name"> </div>
                            <div class="form-group col-md-6">
                                <label>Date of birth </label>
                                <input type="text" class="form-control" id="input1" placeholder="19-02-1994"> </div>
                            <div class="form-group col-md-12">
                                <label>Gender</label>
                                <div class="form-radio-check-grp border-0 pl-0">
                                    <div class="n-chk d-inline">
                                        <label class="new-control new-radio radio-classic-info">
											<input type="radio" class="new-control-input" name="custom-radio-2" checked> <span class="new-control-indicator"></span>Male </label>
                                    </div>
                                    <div class="n-chk d-inline">
                                        <label class="new-control new-radio radio-classic-info">
											<input type="radio" class="new-control-input" name="custom-radio-2"> <span class="new-control-indicator"></span>Female </label>
                                    </div>
                                    <div class="n-chk d-inline">
                                        <label class="new-control new-radio radio-classic-info">
											<input type="radio" class="new-control-input" name="custom-radio-2"> <span class="new-control-indicator"></span>Other </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="custom_stepers-body-footer-btn mt-3 text-right">
                                    <button type="button" class="btn btn-outline-danger mr-3"> <i class="fas fa-times mr-1"></i> Previous </button>
                                    <button type="submit" class="btn btn-success"> <i class="fas fa-check mr-1"></i> Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom_stepers-body-items" id="Reg-Form-2" style="display: block;">
                        <div class="custom_stepers-body-items-form row">
                            <div class="col-md-12">
                                <h3>Address Details</h3>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-4">
                                <label>City</label>
                                <select class="form-control">
									<option>--Select State--</option>
									<option>--Select State--</option>
									<option>--Select State--</option>
								</select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>State</label>
                                <select class="form-control">
									<option>--Select District--</option>
									<option>--Select District--</option>
									<option>--Select District--</option>
								</select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Pincode</label>
                                <input type="email" class="form-control" placeholder="235698" disabled> </div>
                            <div class="col-md-12">
                                <div class="custom_stepers-body-footer-btn mt-3 text-right">
                                    <button type="button" class="btn btn-outline-danger mr-3"> <i class="fas fa-times mr-1"></i> Previous </button>
                                    <button type="submit" class="btn btn-success"> <i class="fas fa-check mr-1"></i> Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom_stepers-body-items" id="Reg-Form-3" style="display: none;"> Info 3 </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-image">
        <div class="l-image"> </div>
    </div>
</div>
