<div class="widget-content widget-content p-3 form-grp-w-border">
  <h2> <img src="assets/img/nominee_details_white.png"> Nominee Details</h2>
  <form [formGroup]="formGroup">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Relationship With</label>
        <ng-select [items]="dropDown!.ddlRelationship" bindLabel="Text" bindValue="Value" placeholder="relationship"
          appendTo="body" [(ngModel)]="nomineeModel.RelationshipWithNominee" formControlName="Relationship"
          [ngClass]="{ 'is-invalid': f.Relationship?.errors && f.Relationship?.touched}">
        </ng-select>
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('Relationship')?.hasError('required') && formGroup.get('Relationship')?.touched)">
          Please Select Relationship...! </div>
      </div>

      <div class="form-group col-md-4">
        <label>Nominee Name</label>
        <input type="email" class="form-control" id="input1" [(ngModel)]="nomineeModel.NamineeName"
          formControlName="NamineeName" TitleCase placeholder="nominee name"
          [ngClass]="{ 'is-invalid': f.NamineeName?.errors && f.NamineeName?.touched}">
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('NamineeName')?.hasError('required') && formGroup.get('NamineeName')?.touched)">
          Enter Nominee Name </div>
      </div>

      <div class="form-group col-md-4">
        <label>&nbsp;</label>
        <div class="form-radio-check-grp">
          <div class="n-chk d-inline">
            <label class="new-control new-checkbox checkbox-info">
              <input type="checkbox" class="new-control-input" formControlName="IsSelfDeclaration"
                [(ngModel)]="nomineeModel.IsSelfDeclaration"
                [ngClass]="{ 'is-invalid': f.IsSelfDeclaration?.errors && f.IsSelfDeclaration?.touched}">
              <span class="new-control-indicator"></span>Self Declaration
            </label>

          </div>
          <div class="invalid-feedback"
            *ngIf="(formGroup.get('IsSelfDeclaration')?.hasError('required') && formGroup.get('IsSelfDeclaration')?.touched)">
            Self Declaration is required </div>
        </div>
      </div>

    </div>
  </form>
</div>
