<!-- Page Header Title start -->
<div class="widget-header">
    <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
        <div>
            <h1>Other Lead Details</h1>
            <!-- Breadcrumb Start -->
            <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">

                    <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Leads</a></li>
                    <li class="breadcrumb-item"><a routerLink="">Other Leads</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                </ol>
            </nav>
            <!-- Breadcrumb End -->
        </div>
    </div>
</div>
<!-- Page Header Title end -->


<div class="detail-d-2 pb-4">
    <div class="widget-content widget-content p-3 form-grp-w-border">
        <h2> <img src="assets/img/lead.png">Lead Details</h2>

        <div class="table-responsive">
            <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
                <tbody>
                    <tr>
                        <td style="width: 20%;"> <strong> Full name: </strong> </td>
                        <td style="width: 30%;">Manish agarwal</td>
                        <td style="width: 20%;"><strong> Mobile number: </strong> </td>
                        <td style="width: 30%;">+91 8952048891</td>
                    </tr>

                    <tr>
                        <td><strong> Emial ID: </strong> </td>
                        <td>ma858855@gmail.com</td>
                        <td><strong> Father's name : </strong> </td>
                        <td>Mohit sharma</td>
                    </tr>

                    <tr>

                        <td><strong> Lead Type: </strong> </td>
                        <td>Enter Lead</td>
                        <td><strong> Product name: </strong> </td>
                        <td>Enter name</td>
                    </tr>

                    <tr>
                        <td><strong> Amount Loan: </strong> </td>
                        <td>₹ 5,00,000</td>
                        <td><strong> Loan Status: </strong> </td>
                        <td>Enter Status</td>
                    </tr>

                    <tr>

                        <td><strong> Lead Created date: </strong> </td>
                        <td>20-04-2022</td>
                        <td><strong> Lead Source by user: </strong> </td>
                        <td>Enter user</td>
                    </tr>

                    <tr>

                        <td><strong> Income: </strong> </td>
                        <td>₹ 5,00,000</td>
                        <td><strong> Employee Type: </strong> </td>
                        <td>Enter Type</td>
                    </tr>


                    <tr>

                        <td><strong> Income: </strong> </td>
                        <td>₹ 5,00,000</td>
                        <td><strong> No of year of ITR available: </strong> </td>
                        <td>10</td>
                    </tr>

                    <tr>

                        <td><strong> Pincode: </strong> </td>
                        <td>3020874</td>
                        <td><strong> Area(Location) </strong> </td>
                        <td>Mansarover</td>
                    </tr>


                </tbody>
            </table>
        </div>


    </div>


</div>