<!-- Page Header Title start -->
<div class="widget-header">
    <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
        <div>
            <h1> Balance Return</h1>
            <!-- Breadcrumb Start -->
            <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Balance Transfer Gold Loan Lead</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Balance Return</li>
                </ol>
            </nav>
            <!-- Breadcrumb End -->
        </div>
        <!-- <a class="btn btn-dark btn-sm mt-2 mt-sm-0" routerLink="add-update/0">
            <i class="fas fa-plus mr-1"></i>New Lead</a> --></div>
</div>
<!-- Page Header Title end -->
<div class="detail-d-2 pb-4">
    <div class="widget-content widget-content p-3 form-grp-w-border">
        <h2> <img src="assets/img/lead.png">Lead Details</h2>
        <div class="table-responsive">
            <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
                <tbody>

                    <tr>
                        <td><strong> Loan case no.: </strong> </td>
                        <td>89567</td>
                        <td><strong> Full name : </strong> </td>
                        <td>Mohit sharma</td>
                    </tr>
                    <tr>
                        <td><strong> Loan Amount: </strong> </td>
                        <td>₹ 5,00,000</td>
                        <td><strong> Lead Source By: </strong> </td>
                        <td>Sandeep kumar</td>
                    </tr>
                    <tr>
                        <td><strong> Phone number: </strong> </td>
                        <td>+91 896587129</td>
                        <td><strong> Lender: </strong> </td>
                        <td>Enter Lender</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="widget-content widget-content p-3 form-grp-w-border">
        <h2> <img src="assets/img/jewellery.png">Jewellery Details</h2>
        <div class="table-responsive">
            <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
                <tbody>

                    <tr>
                        <td><strong> Type of jewellery : </strong> </td>
                        <td>Neckless</td>
                        <td><strong> Quantity : </strong> </td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td><strong> Weight : </strong> </td>
                        <td>10 gm </td>
                        <td><strong> Karat : </strong> </td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="widget-content widget-content p-3 form-grp-w-border">
        <h2> <img src="assets/img/loan.png">Loan Status</h2>
        <div class="d-flex flex-wrap">
            <div>
                <div class="n-chk">
                    <label class="new-control new-checkbox checkbox-info">
                    <input type="checkbox" class="new-control-input" name="custom-radio-10">
                    <span class="new-control-indicator"></span>Amount Paid
                </label>
                </div>
            </div>
            <div>
                <div class="n-chk">
                    <label class="new-control new-checkbox checkbox-info">
                    <input type="checkbox" class="new-control-input" name="custom-radio-10" checked>
                    <span class="new-control-indicator"></span>Gold Received
                </label>
                </div>
            </div>
            <div>
                <div class="n-chk">
                    <label class="new-control new-checkbox checkbox-info">
                    <input type="checkbox" class="new-control-input" name="custom-radio-10">
                    <span class="new-control-indicator"></span>Gold Submitted
                </label>
                </div>
            </div>
        </div>
        <div class="form-footer-btn-grp widget-content widget-content pt-3 text-center">
            <button type="submit" class="btn btn-success mr-3"> <i class="fas fa-check mr-1"></i> Save
            application</button>
        </div>
    </div>


    <div class="form-group col-md-12 px-4">
        <label>Disbusement</label>
        <div class="form-radio-check-grp border-0 px-0">
            <div class="n-chk d-inline">
                <label class="new-control new-radio radio-classic-info">
                <input type="radio" class="new-control-input" name="custom-radio-2" checked>
                <span class="new-control-indicator"></span>Yes
            </label>
            </div>
            <div class="n-chk d-inline">
                <label class="new-control new-radio radio-classic-info">
                <input type="radio" class="new-control-input" name="custom-radio-2">
                <span class="new-control-indicator"></span>No
            </label>
            </div>
        </div>
    </div>


    <div class="row m-0">
        <div class="col-md-12 px-4">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Loan A/C No.</label>
                    <input type="text" class="form-control" id="input1" placeholder="89529-885-558-522">
                </div>
                <div class="form-group col-md-4">
                    <label>Bank name</label>
                    <input type="text" class="form-control" id="input1" placeholder="HDFC Bank">
                </div>
                <div class="form-group col-md-4">
                    <label>Customer Name</label>
                    <input type="text" class="form-control" id="input1" placeholder="Girdhari kumawat">
                </div>
                <div class="form-group col-md-4">
                    <label>Amount Returned</label>
                    <input type="text" class="form-control" id="input1" placeholder="₹ 2300">
                </div>
                <div class="form-group col-md-4 date-icon-with-label">
                    <label>Final Payment Date</label>
                    <input type="text" class="form-control" id="input1" placeholder="20-02-1994">
                    <i class="fas fa-calendar-alt"></i>
                </div>

                <div class="form-group col-md-4">
                    <label>Payment Method</label>
                    <select class="form-control">
                    <option>--Select--</option>
                    <option>--Select--</option>
                    <option>--Select--</option>
                </select>
                </div>
                <div class="form-group col-md-4">
                    <label>UTR No.</label>
                    <input type="text" class="form-control" id="input1" placeholder="Enter UTR No">
                </div>



            </div>
            <div class="form-footer-btn-grp widget-content widget-content p-3 text-center">
                <button type="submit" class="btn btn-success mr-3"> <i class="fas fa-check mr-1"></i> Submit </button>
                <button type="button" class="btn btn-outline-danger"> <i class="fas fa-times mr-1"></i> Cancel</button>
            </div>
        </div>
    </div>




</div>