<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">

            <li class="menu" routerLinkActive="menu-active">
                <a routerLink="/dashboard" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        <span>Dashboard</span>
                    </div>
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                </a>
            </li>



            <li class="menu" routerLinkActive="menu-active">
                <a href="#Dropdown-menu-1" data-toggle="collapse" data-active="true" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layout-text-sidebar-reverse" viewBox="0 0 16 16">
                            <path d="M12.5 3a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5zm0 3a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5zm.5 3.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z"/>
                            <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2zM4 1v14H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h2zm1 0h9a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5V1z"/>
                          </svg>
                        <span>Master</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                </a>
                <ul class="collapse submenu list-unstyled" id="Dropdown-menu-1" data-parent="#accordionExample">
                    <li>
                        <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule +'/'+ this.routing_Url.UserRoleListUrl}}"><i
                                class="fas fa-user-tag"></i> User Role </a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.State_List_Url}}"><i
                              class="fas fa-user-tag"></i>State </a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.District_List_Url}}"><i
                            class="fas fa-user-tag"></i>District</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.Qualification_List_Url}}"><i
                          class="fas fa-user-tag"></i>Qualification</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.Kyc_Document_Type_List_Url}}"><i
                            class="fas fa-user-tag"></i>Document KYC Type</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.PaymentMode_List_Url}}"><i
                          class="fas fa-user-tag"></i>Payment Mode</a>
                    </li>
                    <li>
                      <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.Manager_List_Url}}"><i
                        class="fas fa-user-tag"></i>Manager's</a>
                    </li>
                    <li>
                      <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.Jewellery_Type_List_Url}}"><i
                        class="fas fa-user-tag"></i>Jewellery Type</a>
                    </li>
                    <li>
                      <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.Product_Category_List_Url}}"><i
                        class="fas fa-user-tag"></i>Product Category</a>
                    </li>
                    <li>
                      <a routerLinkActive="active" routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.MasterModule + this.routing_Url.Bank_List_Url}}"><i
                        class="fas fa-user-tag"></i>Bank & Branch</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink='manish'><i class="fas fa-user-tag"></i>HTML </a>
                    </li>
                </ul>

            </li>


            <li class="menu" routerLinkActive="menu-active">
                <a routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.DoorStepModule+'/'+this.routing_Url.DoorStepAgentListUrl}}" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          </svg>
                        <span>Door Step Agent</span>
                    </div>
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                </a>
            </li>

            <li class="menu" routerLinkActive="menu-active">
                <a routerLink="{{this.routing_Url.AdminModule+'/'+this.routing_Url.AgentModule+'/'+this.routing_Url.AgentListUrl}}" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                            <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                          </svg>
                        <span>Agent</span>
                    </div>
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                </a>
            </li>


            <!-- <li class="menu d-none" routerLinkActive="menu-active">
                <a href="#Dropdown-menu-2" data-toggle="collapse" data-active="true" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        <span>Active menu</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                </a>
                <ul class="collapse submenu list-unstyled show" id="Dropdown-menu-2" data-parent="#accordionExample">
                    <li class="active">
                        <a routerLink=""> <i class="fas fa-user"></i> Profile </a>
                    </li>
                    <li>
                        <a routerLink=""> <i class="fas fa-cog"></i> Account Settings </a>
                    </li>
                </ul>
            </li> -->


        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->
