<!-- DOOR STEP AGENT START -->

<!-- Page Header Title start -->
<div class="widget-header">
  <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
    <div>
      <h1> door step agent</h1>
      <!-- Breadcrumb Start -->
      <nav class="custom-breadcrum">
        <ol class="breadcrumb justify-content-center justify-content-sm-start">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item"><a routerLink="{{ '../../' + this.routing_Url.AgentListUrl}}"> Agent </a></li>
          <li class="breadcrumb-item active" aria-current="page">Detail</li>
        </ol>
      </nav>
      <!-- Breadcrumb End -->
    </div>


  </div>
</div>
<!-- Page Header Title end -->


<section class="py-3">
  <div class="widget-content widget-content p-3 form-grp-w-border mt-3">
    <h2> <img src="assets/img/personal_detail.png"> Personal Details</h2>

    <div class="page-profile d-flex align-items-center justify-content-center mx-auto mb-3"><img
      src="{{model.User.ProfilePath}}"  onerror='this.src="assets/img/user-default.jpg"'></div>
    <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
      <tbody>
        <tr>
          <td style="width: 18%;"> <strong> Name: </strong> </td>
          <td style="width: 32%;">{{this.model?.FullName ?? 'N/A'}}</td>
          <td style="width: 18%;"><strong> Date of birth: </strong> </td>
          <td style="width: 32%;">{{this.model?.DateOfBirth | date :'dd-MM-yyyy'}}</td>
        </tr>

        <tr>
          <td><strong> Father name: </strong> </td>
          <td>{{model?.FatherName?? 'N/A'}}</td>
          <td><strong> Mobile number: </strong> </td>
          <td>{{model?.User?.Mobile?? 'N/A'}}</td>
        </tr>

        <tr>
          <td><strong> Qualification: </strong> </td>
          <td>{{model?.QualificationName?? 'N/A'}}</td>
          <td><strong> Personal Email ID: </strong> </td>
          <td>{{model?.User?.Email?? 'N/A'}}</td>
        </tr>

        <tr>
          <!-- <td><strong> Ability to self fund: </strong> </td>
          <td>{{model.SelfFunded ? 'Yes': 'No' ?? 'N/A'}}</td> -->
          <td><strong> Gender: </strong> </td>
          <td>{{model?.Gender?? 'N/A' }}</td>
          <td><strong> Pincode: </strong> </td>
          <td>{{model?.PinCode ?? 'N/A'}}</td>
        </tr>

        <tr>
          <td><strong> Address Line1: </strong> </td>
          <td>{{model?.Address?? 'N/A'}}</td>
          <!-- <td><strong> State: </strong> </td>
          <td>{{model?.StateName?? 'N/A'}}</td> -->
        </tr>

        <tr>
          <td><strong> Address Line2: </strong> </td>
          <td>{{model?.AddressLine2 ?? model?.DistrictName + ', '+ model?.StateName }}</td>

        </tr>

      </tbody>
    </table>
  </div>

  <div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/nominee_details_white.png">Nominee Details</h2>
    <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
      <tbody>

        <tr>
          <td style="width: 220px;"><strong> Relationship: </strong> </td>
          <td>{{this.model?.UserNominee?.RelationshipWithNominee?? 'N/A'}}</td>
        </tr>
        <tr>
          <td> <strong> Name: </strong> </td>
          <td>{{this.model?.UserNominee?.NamineeName?? 'N/A'}}</td>
        </tr>

        <!-- <tr>
                    <td><strong> Self Declaration String: </strong> </td>
                    <td>Yes</td>
                </tr> -->
      </tbody>
    </table>
  </div>

  <div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/bank_details_white.png">Bank Details</h2>
    <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
      <tbody>

        <tr>
          <td style="width: 220px;"><strong> A/C number: </strong> </td>
          <td>{{model.BankDetails!.AccountNumber?? 'N/A'}}</td>
        </tr>
        <tr>
          <td> <strong> IFSC Code: </strong> </td>
          <td>{{model.BankDetails!.Ifsccode | uppercase}}</td>
        </tr>

        <tr>
          <td><strong> Bank name: </strong> </td>
          <td>{{model.BankDetails!.BankName?? 'N/A'}}</td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/kyc_details_white.png">KYC Details</h2>

    <div class="row door-kyc-details">
      <ng-container *ngFor="let kycItem of model.UserKYC">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mt-3 mt-xl-0">
          <div class="custom-card-1">
            <div class="custom-card-1-header"><i class="fas fa-address-card"></i> {{kycItem.KycdocumentTypeName ??
              'N/A'}}</div>
            <div class="custom-card-1-body">{{kycItem.Kycnumber ?? 'N/A'}}</div>
          </div>
        </div>
      </ng-container>


    </div>
  </div>

  <div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/document_pictures_white.png">Document Proof</h2>
    <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
      <tbody>

        <tr *ngFor="let item of model?.Documents">
          <td style="width: 220px;"><strong> {{item?.DocumentTypeName?? 'N/A'}} : </strong> </td>
          <td>
            <div class="d-flex align-items-center">
              <ng-container *ngFor="let file of item.UserDocumentFiles; let fileIndex=index">
                <a href="" data-toggle="modal" data-target="#Doc-Popup_{{item?.DocumentTypeId}}_{{fileIndex}}"
                  class="small-media-items position-relative mr-3">
                  <!-- {{file | json}} -->
                  <div class="small-media-items-img"><img [src]="file.Path"
                      onerror="this.src='assets/img/document_pictures_white.png'" /></div>
                  <i class="fas fa-link"></i>
                </a>

                <!-- Gallery popup start -->
                <div class="modal fade show-gallery modal-doc-show"
                  id="Doc-Popup_{{item?.DocumentTypeId}}_{{fileIndex}}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content bg-transparent">
                      <button type="button" class="close modal-btn-with-no-header" data-dismiss="modal"
                        aria-label="Close"> <i class="fas fa-times"></i></button>
                      <div class="modal-body p-0 text-center">
                        <img [src]="file.Path" alt="" title="file.Path" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Gallery popup  End -->
              </ng-container>

            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>




</section>
