<!-- Page Header Title start -->
<div class="widget-header">
  <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
    <div>
      <h1>Balance Transfer Gold Loan</h1>
      <!-- Breadcrumb Start -->
      <nav class="custom-breadcrum">
        <ol class="breadcrumb justify-content-center justify-content-sm-start">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Leads</a></li>
          <li class="breadcrumb-item"><a routerLink="../../../../balance-transfer-leads">Balance Transfer Gold Loan</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{leadId ==0 ? 'Add new lead' : 'Update lead'}}</li>
        </ol>
      </nav>
      <!-- Breadcrumb End -->
    </div>
    <button class="btn btn-dark btn-sm mt-2 mt-sm-0" routerLink="../../../../balance-transfer-leads"> <i
        class="fas fa-angle-left mr-1"></i> Back</button>

  </div>
</div>
<!-- Page Header Title end -->


<mat-stepper orientation="vertical" [linear]="true" class="mat-custom-steper reg-steper gold-loan-steper">
  <mat-step [stepControl]="leadFormPersonalDetail">
    <form [formGroup]="leadFormPersonalDetail" (ngSubmit)="leadFormPersonalDetail.markAllAsTouched()">
      <ng-template matStepLabel>Personal Details</ng-template>
      <div class="step-grp-content">
        <div class="custom_stepers-body-items-form row">
          <div class="form-group col-md-4">
            <label>Select Product <em class="text-danger">*</em></label>

            <ng-select [items]="ddlProductModel" [searchable]="true" bindLabel="Name" bindValue="Id"
              placeholder="Select product" formControlName="Product"
              [ngClass]="{ 'is-invalid': f1.Product.errors && f1.Product.touched}" [(ngModel)]="model.ProductId">
            </ng-select>


            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('Product')?.hasError('required') && leadFormPersonalDetail.get('Product')?.touched)">
              Enter Product! </div>

          </div>


          <div class="form-group col-md-4">
            <label>Full Name <em class="text-danger">*</em></label>
            <input TitleCase type="text" (keypress)="!_commonService.NumberOnly($event)" class="form-control"
              id="input2" placeholder="Full Name" formControlName="FullName" maxlength="200"
              [ngClass]="{ 'is-invalid': f1.FullName.errors && f1.FullName.touched}" [(ngModel)]="model.FullName">

            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('FullName')?.hasError('required') && leadFormPersonalDetail.get('FullName')?.touched)">
              Enter Full Name! </div>

          </div>
          <div class="form-group col-md-4">
            <label>Father's Name <em class="text-danger">*</em></label>
            <input TitleCase type="text" (keypress)="!_commonService.NumberOnly($event)" class="form-control"
              id="input3" placeholder="Father's Name" formControlName="FatherName" maxlength="200"
              [ngClass]="{ 'is-invalid': f1.FatherName.errors && f1.FatherName.touched}" [(ngModel)]="model.FatherName">

            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('FatherName')?.hasError('required') && leadFormPersonalDetail.get('FatherName')?.touched)">
              Enter Father Name! </div>

          </div>

          <div class="form-group col-md-4 date-icon-with-label">
            <label>Date of Birth <em class="text-danger">*</em></label>
            <input class="form-control" #datepickerYMD="bsDatepicker" autocomplete="off" placeholder="DD-MM-YYYY"
              formControlName="DOB" [ngClass]="{ 'is-invalid': f1.DOB.errors && f1.DOB.touched}" bsDatepicker
              [(ngModel)]="model.DateOfBirth" [maxDate]="DobMaxDate"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true,isAnimated: true, showWeekNumbers: false }">
            <i class="fas fa-calendar-alt" (click)="datepickerYMD.toggle()"></i>
            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('DOB')?.hasError('required') && leadFormPersonalDetail.get('DOB')?.touched)">
              Please Select Date...! </div>

          </div>


          <div class="form-group col-md-4">
            <label>Gender <em class="text-danger">*</em></label>

            <div class="form-radio-check-grp border-0 pl-0">

              <ng-container *ngFor="let item of dropDown!.ddlGender">
                <div class="n-chk d-inline">
                  <label class="new-control new-radio radio-classic-info">
                    <input type="radio" formControlName="Gender" class="new-control-input" value="{{item.Value}}"
                      name="Gender" [(ngModel)]="model.Gender"
                      [ngClass]="{ 'is-invalid': f1.Gender.errors && f1.Gender.touched}">
                    <span class="new-control-indicator"></span>{{item.Text}}
                  </label>
                </div>
              </ng-container>

              <div class="invalid-feedback"
                *ngIf="(leadFormPersonalDetail.get('Gender')?.hasError('required') && leadFormPersonalDetail.get('Gender')?.touched)">
                Select Gender! </div>

            </div>


          </div>
          <div class="form-group col-md-4">
            <label>Email <em class="text-danger">*</em></label>
            <input type="text" class="form-control" maxlength="200" id="input1" placeholder="Email Address"
              formControlName="Email" [ngClass]="{ 'is-invalid': f1.Email.errors && f1.Email.touched}"
              [(ngModel)]="model.EmailId">



            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('Email')?.hasError('required') && leadFormPersonalDetail.get('Email')?.touched)">
              Enter Email! </div>

            <div class="invalid-feedback" *ngIf="!leadFormPersonalDetail.get('Email')?.hasError('required') && leadFormPersonalDetail.get('Email')?.touched
              && leadFormPersonalDetail.get('Email')?.invalid">
              Please fill Correct Email...! </div>

          </div>
          <div class="form-group col-md-4">
            <label>Mobile Number <em class="text-danger">*</em></label>
            <input type="text" [minlength]="10" [maxlength]="10" (keypress)="_commonService.NumberOnly($event)"
              placeholder="Mobile Number" class="form-control" id="input5" [(ngModel)]="model.Mobile"
              formControlName="Mobile" [ngClass]="{ 'is-invalid': f1.Mobile.errors && f1.Mobile.touched}">


            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('Mobile')?.hasError('required') && leadFormPersonalDetail.get('Mobile')?.touched)">
              Enter Mobile Number! </div>

            <div class="invalid-feedback"
              *ngIf="!leadFormPersonalDetail.get('Mobile')?.hasError('required') && ((leadFormPersonalDetail.get('Mobile')?.hasError('maxlength') || leadFormPersonalDetail.get('Mobile')?.hasError('minlength')) && leadFormPersonalDetail.get('Mobile')?.touched) || (leadFormPersonalDetail.get('Mobile')?.hasError('maxlength') || leadFormPersonalDetail.get('Mobile')?.hasError('minlength'))">
              Mobile length must be 10 digit...! </div>

          </div>

          <div class="form-group col-md-4">
            <label>Alternate Mobile Number <em class="text-danger">*</em></label>
            <input type="text" [minlength]="10" [maxlength]="10" class="form-control"
              (keypress)="_commonService.NumberOnly($event)" id="input6" placeholder="Alternative Mobile"
              [(ngModel)]="model.SecondaryMobile" formControlName="AlternativeMobile"
              [ngClass]="{ 'is-invalid': f1.AlternativeMobile.errors && f1.AlternativeMobile.touched}">


            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('AlternativeMobile')?.hasError('required') && leadFormPersonalDetail.get('AlternativeMobile')?.touched)">
              Enter Alternate Mobile Number! </div>
            <div class="invalid-feedback"
              *ngIf="!leadFormPersonalDetail.get('AlternativeMobile')?.hasError('required') && ((leadFormPersonalDetail.get('AlternativeMobile')?.hasError('maxlength') || leadFormPersonalDetail.get('AlternativeMobile')?.hasError('minlength')) && leadFormPersonalDetail.get('AlternativeMobile')?.touched) || (leadFormPersonalDetail.get('AlternativeMobile')?.hasError('maxlength') || leadFormPersonalDetail.get('AlternativeMobile')?.hasError('minlength'))">
              Alternate Mobile length must be 10 digit...! </div>

          </div>

          <div class="form-group col-md-4">
            <label>Loan Amount <em class="text-danger">*</em></label>
            <input type="text" [maxlength]="10" class="form-control"
              (keypress)="_commonService.checkDecimalNumberOnly($event)" id="input7" placeholder="Amount"
              [(ngModel)]="model.LoanAmount" formControlName="Amount"
              [ngClass]="{ 'is-invalid': f1.Amount.errors && f1.Amount.touched}">

            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('Amount')?.hasError('required') && leadFormPersonalDetail.get('Amount')?.touched)">
              Enter Amount </div>

          </div>
          <div class="form-group col-md-4">
            <label>Loan Account Number<em class="text-danger">*</em></label>
            <input type="text" [maxlength]="20" class="form-control" (keypress)="_commonService.NumberOnly($event)"
              id="input7" placeholder="Loan Account Number" [(ngModel)]="model.LoanAccountNumber"
              formControlName="AccountNumber"
              [ngClass]="{ 'is-invalid': f1.AccountNumber.errors && f1.AccountNumber.touched}">

            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('AccountNumber')?.hasError('required') && leadFormPersonalDetail.get('AccountNumber')?.touched)">
              Enter Loan Account Number</div>

          </div>

          <div class="form-group col-md-8">
            <label>Purpose of Loan<em class="text-danger">*</em></label>
            <ng-select [items]="ddlPurpose" [searchable]="true" bindLabel="Name" bindValue="Id"
              placeholder="Select Purpose" formControlName="Purpose"
              [ngClass]="{ 'is-invalid': f1.Purpose.errors && f1.Purpose.touched}" [(ngModel)]="model.PurposeId">
            </ng-select>
            <div class="invalid-feedback"
              *ngIf="(leadFormPersonalDetail.get('Purpose')?.hasError('required') && leadFormPersonalDetail.get('Purpose')?.touched)">
              Select Purpose </div>
          </div>
        </div>
      </div>

      <div class="step-form-btn-grp mt-3">
        <button class="btn btn-primary" mat-button matStepperNext><i class="fas fa-check mr-1"></i> Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="leadFormAddressDetail">
    <form [formGroup]="leadFormAddressDetail" (ngSubmit)="leadFormAddressDetail.markAllAsTouched()">
      <ng-template matStepLabel>Address Detail </ng-template>
      <div class="step-grp-content">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Pincode</label>
            <input type="text" class="form-control"
              (blur)="model.AddressDetail.AeraPincodeId=null;getDropDownPinCodeArea(false,true)"
              formControlName="Pincode" placeholder="Pincode"
              [ngClass]="{ 'is-invalid': f2.Pincode.errors && f2.Pincode.touched}" [(ngModel)]="AeraPincode">

            <div class="invalid-feedback"
              *ngIf="(leadFormAddressDetail.get('Pincode')?.hasError('required') && leadFormAddressDetail.get('Pincode')?.touched)">
              Enter Pincode</div>
          </div>
          <div class="form-group col-md-6">
            <label>Area (Location)</label>
            <ng-select [searchable]="true" [items]="ddlAreaModel" bindLabel="AreaName" bindValue="Id"
              placeholder="Select area" formControlName="Area" (change)="getAddressLine2($event)"
              [ngClass]="{ 'is-invalid': f2.Area.errors && f2.Area.touched}"
              [(ngModel)]="model.AddressDetail.AeraPincodeId" [appendTo]="'body'">
            </ng-select>
            <div class="invalid-feedback"
              *ngIf="(leadFormAddressDetail.get('Area')?.hasError('required') && leadFormAddressDetail.get('Area')?.touched)">
              Select area location</div>
          </div>
          <div class="form-group col-md-12">
            <label>Address Line1</label>
            <textarea class="form-control" [(ngModel)]="model.AddressDetail.Address" formControlName="Address"
              [ngClass]="{ 'is-invalid': f2.Address.errors && f2.Address.touched}" id="exampleFormControlTextarea1"
              rows="2" placeholder="Enter address here"></textarea>
            <div class="invalid-feedback"
              *ngIf="(leadFormAddressDetail.get('Address')?.hasError('required') && leadFormAddressDetail.get('Address')?.touched)">
              fill address</div>
          </div>
          <div class="col-md-12 form-group">
            <label>Address Line2</label>
            <input type="text" readonly formControlName="AddressLine2" [(ngModel)]="model.AddressDetail.AddressLine2"
              placeholder="Address Line2" readonly class="form-control text-dark">
          </div>

          <div class="form-group col-md-12">
            <div class="form-radio-check-grp border-0">
              <div class="n-chk">
                <label class="new-control new-checkbox checkbox-info">
                  <input type="checkbox" class="new-control-input" [ngModelOptions]="{standalone: true}"
                    [ngModel]="isSameAddress" name="custom-radio-10" (change)="onSameAddressAssign($event)">
                  <span class="new-control-indicator"></span>Same as Permanent Address
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Correspond Pincode</label>
            <input type="text" class="form-control" (blur)="getDropDownPinCodeArea(true,true)"
              placeholder="Correspond Pincode" formControlName="CorrespondPincode"
              [ngClass]="{ 'is-invalid': f2.CorrespondPincode.errors && f2.CorrespondPincode.touched}"
              [(ngModel)]="CorrespondAeraPincode">

            <div class="invalid-feedback"
              *ngIf="(leadFormAddressDetail.get('CorrespondPincode')?.hasError('required') && leadFormAddressDetail.get('CorrespondPincode')?.touched)">
              Enter correspond Correspond Pincode</div>
          </div>
          <div class="form-group col-md-6">
            <label>correspond Area (Location)</label>
            <ng-select [items]="ddlCorespondAreaModel" [searchable]="true" bindLabel="AreaName" bindValue="Id"
              placeholder="Select correspond area" formControlName="CorrespondArea"
              [ngClass]="{ 'is-invalid': f2.CorrespondArea.errors && f2.CorrespondArea.touched}"
              [(ngModel)]="model.AddressDetail.CorrespondAeraPincodeId" (change)="getCorrespondingAddressLine2($event)">
            </ng-select>
            <div class="invalid-feedback"
              *ngIf="(leadFormAddressDetail.get('CorrespondArea')?.hasError('required') && leadFormAddressDetail.get('CorrespondArea')?.touched)">
              Select correspond area location</div>
          </div>
          <div class="form-group col-md-12">
            <label>Correspond Address Line1</label>
            <textarea class="form-control" [(ngModel)]="model.AddressDetail.CorrespondAddress"
              formControlName="CorrespondAddress"
              [ngClass]="{ 'is-invalid': f2.CorrespondAddress.errors && f2.CorrespondAddress.touched}"
              id="exampleFormControlTextarea1" rows="2" placeholder="Enter correspond address here"></textarea>
            <div class="invalid-feedback"
              *ngIf="(leadFormAddressDetail.get('CorrespondAddress')?.hasError('required') && leadFormAddressDetail.get('CorrespondAddress')?.touched)">
              fill correspond address</div>
          </div>
          <div class="col-md-12 form-group">
            <label>Corresponding Address Line2</label>
            <input type="text" formControlName="CorrespondAddressLine2" placeholder="Corresponding Address Line2"
              [(ngModel)]="model.AddressDetail.CorrespondAddressLine2" readonly class="form-control text-dark">
          </div>


        </div>

      </div>

      <div class="step-form-btn-grp mt-3 ">
        <button mat-button matStepperPrevious class="btn btn-outline-danger mr-2"><i
            class="fas fa-angle-left mr-1"></i>Back</button>
        <button mat-button matStepperNext type="submit" class="btn btn-primary"> <i class="fas fa-check mr-1"
            (click)="leadFormAddressDetail.markAllAsTouched()"></i> Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="leadFormJewelleryDetail">
    <form [formGroup]="leadFormJewelleryDetail" (ngSubmit)="leadFormJewelleryDetail.markAllAsTouched()">
      <ng-template matStepLabel>Jewellery Details</ng-template>
      <div class="step-grp-content">
        <div class="custom_stepers-body-items-form row">
          <div class="form-group col-md-4">
            <label>Jewellery Type</label>

            <ng-select [items]="ddlJewellaryType" [searchable]="true" bindLabel="Name" bindValue="Id"
              placeholder="Select Jewellery Type" formControlName="JewelleryType"
              [ngClass]="{ 'is-invalid': f4.JewelleryType.errors && f4.JewelleryType.touched}"
              [(ngModel)]="JewelleryModel.JewelleryTypeId">
            </ng-select>
            <div class="invalid-feedback"
              *ngIf="(leadFormJewelleryDetail.get('JewelleryType')?.hasError('required') && leadFormJewelleryDetail.get('JewelleryType')?.touched)">
              select Jewellery Type! </div>
          </div>

          <div class="form-group col-md-4">
            <label>Quantity</label>
            <!-- 1-10 -->
            <input type="text" (keypress)="_commonService.NumberOnly($event)" class="form-control" id="input12"
              [min]="1" [max]="10" [maxlength]="2" placeholder="Quantity" [(ngModel)]="JewelleryModel.Quantity"
              formControlName="Quantity" [ngClass]="{ 'is-invalid': f4.Quantity.errors && f4.Quantity.touched}">

            <div class="invalid-feedback"
              *ngIf="(leadFormJewelleryDetail.get('Quantity')?.hasError('required') && leadFormJewelleryDetail.get('Quantity')?.touched)">
              Enter Quantity! </div>

          </div>

          <div class="form-group col-md-4">
            <label>Weight (in grams)</label>
            <input type="text" [maxlength]="10" (keypress)="_commonService.checkDecimalNumberOnly($event)"
              class="form-control" id="input13" placeholder="Weight" [(ngModel)]="JewelleryModel.Weight"
              formControlName="Weight" [ngClass]="{ 'is-invalid': f4.Weight.errors && f4.Weight.touched}">
            <div class="invalid-feedback"
              *ngIf="(leadFormJewelleryDetail.get('Weight')?.hasError('required') && leadFormJewelleryDetail.get('Weight')?.touched)">
              Enter Weight! </div>


          </div>
          <div class="form-group col-md-4">
            <label>Karats</label>
            <ng-select [items]="ddlKarats" bindLabel="Name" bindValue="Id" formControlName="Karats"
              placeholder="Select Karats" [ngClass]="{ 'is-invalid': f4.Karats.errors && f4.Karats.touched}"
              [(ngModel)]="JewelleryModel.Karats">

            </ng-select>
            <div class="invalid-feedback"
              *ngIf="(leadFormJewelleryDetail.get('Karats')?.hasError('required') && leadFormJewelleryDetail.get('Karats')?.touched)">
              select Karats! </div>
          </div>


          <div class="form-group mt-4 col-md-4">

            <button class="btn btn-primary  mr-3" mat-button (click)="onJewellaryAdd()"><i class="fas fa-plus mr-1"></i>
              Add</button>
            <button class="btn btn-outline-danger" mat-button (click)="onJewellaryAddCancel()"> <i
                class="fas fa-times mr-1"></i> Cancel</button>
          </div>

          <div class="col-md-12">
            <div class="table-responsive table-shadow my-4">
              <table class="table table-striped dataTable table-header bg-white">
                <thead>
                  <tr>
                    <th>Jewellery Type</th>
                    <th>Quantity</th>
                    <th>Weight</th>
                    <th>Karat</th>
                    <th style="width: 100px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of model.JewelleryDetail;let idx=index">
                    <td>{{onGetJewellaryTypeName(item.JewelleryTypeId)}}</td>
                    <td>{{item.Quantity ?? 0}}</td>
                    <td>{{item.Weight}}gm</td>
                    <td>{{item.Karats}}</td>

                    <td class="table-action-btn">
                      <a href="javascript:void(0);" (click)="onJewellaryEdit(idx)" class="table-action-btn-edit"
                        data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
                      <a href="javascript:void(0);" (click)="onJewellaryDelete(idx)" class="table-action-btn-delete"
                        data-toggle="tooltip" data-placement="bottom" title="Remove"><i
                          class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <div class="step-form-btn-grp mt-3">
        <button class="btn btn-outline-danger mr-3" mat-button matStepperPrevious><i
            class="fas fa-angle-left mr-1"></i>Back</button>
        <button class="btn btn-primary" mat-button matStepperNext><i class="fas fa-check mr-1"></i> Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="leadFormAppointmentDetail">
    <form [formGroup]="leadFormAppointmentDetail" (ngSubmit)="leadFormAppointmentDetail.markAllAsTouched()">
      <ng-template matStepLabel>Appointment Details</ng-template>
      <div class="step-grp-content">
        <div class="custom_stepers-body-items-form row">


          <div class="form-group col-md-4">

            <label> Bank</label>

            <ng-select [items]="dropDown.ddlBank" [searchable]="true" bindLabel="Text" bindValue="Value"
              placeholder="Select Bank" formControlName="Bank"
              [ngClass]="{ 'is-invalid': f3.Bank.errors && f3.Bank.touched}" [(ngModel)]="BankId"
              (change)="getDropDownBranch()">
            </ng-select>

            <div class="invalid-feedback"
              *ngIf="(leadFormAppointmentDetail.get('Bank')?.hasError('required') && leadFormAppointmentDetail.get('Bank')?.touched)">
              select Bank! </div>

          </div>


          <div class="form-group col-md-4">
            <label> Branch</label>

            <ng-select [items]="ddlBranchModel" [searchable]="true" bindLabel="BranchName" bindValue="Id"
              placeholder="Select Brnach" formControlName="Branch"
              [ngClass]="{ 'is-invalid': f3.Branch.errors && f3.Branch.touched}"
              [(ngModel)]="model.AppointmentDetail.BranchId">
            </ng-select>

            <div class="invalid-feedback"
              *ngIf="(leadFormAppointmentDetail.get('Branch')?.hasError('required') && leadFormAppointmentDetail.get('Branch')?.touched)">
              select Branch! </div>

          </div>



          <div class="form-group col-md-4 date-icon-with-label">
            <label>Date of Appointment</label>
            <input class="form-control" #datepickerApp="bsDatepicker" placeholder="DD-MM-YYYY"
              formControlName="DateofAppointment"
              [ngClass]="{ 'is-invalid': f3.DateofAppointment.errors && f3.DateofAppointment.touched}" bsDatepicker
              [(ngModel)]="model.AppointmentDetail.AppointmentDate"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true,isAnimated: true, showWeekNumbers: false }">
            <i class="fas fa-calendar-alt" (click)="datepickerApp.toggle()"></i>
            <div class="invalid-feedback"
              *ngIf="(leadFormAppointmentDetail.get('DateofAppointment')?.hasError('required') && leadFormAppointmentDetail.get('DateofAppointment')?.touched)">
              select date of Appointment </div>


          </div>


          <div class="form-group col-md-4">
            <label> Time of Appointment</label>
            <input type="time" class="form-control" id="input16" [(ngModel)]="model.AppointmentDetail.AppointmentTime"
              formControlName="TimeofAppointment"
              [ngClass]="{ 'is-invalid': f3.TimeofAppointment.errors && f3.TimeofAppointment.touched}"
              class="form-control" placeholder="Time picker">
            <div class="invalid-feedback"
              *ngIf="(leadFormAppointmentDetail.get('TimeofAppointment')?.hasError('required') && leadFormAppointmentDetail.get('TimeofAppointment')?.touched)">
              select Time of Appointment </div>
          </div>

        </div>
      </div>
      <div class="step-form-btn-grp mt-3">
        <button class="btn btn-outline-danger mr-3" mat-button matStepperPrevious><i
            class="fas fa-angle-left mr-1"></i>Back</button>
        <button class="btn btn-primary" mat-button matStepperNext><i class="fas fa-check mr-1"></i> Next</button>


      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="leadFormKYCDetail">
    <form [formGroup]="leadFormKYCDetail" (ngSubmit)="leadFormKYCDetail.markAllAsTouched()">
      <ng-template matStepLabel>Document Details</ng-template>
      <div class="step-grp-content">
        <div class="custom_stepers-body-items-form row">
          <div class="form-group col-md-4">
            <label>Document (POI)</label>


            <ng-select [items]="ddlDocumentTypePOI"
              (change)="this.model.KYCDetail.PoidocumentNumber=null;onChangePOIDocument(model.KYCDetail.PoidocumentTypeId)"
              (clear)="onChangePOIDocument(model.KYCDetail.PoidocumentTypeId)" [searchable]="true" [clearable]="true"
              bindLabel="Name" bindValue="Id" placeholder="Select Document Type" formControlName="PoidocumentType"
              [ngClass]="{ 'is-invalid': f7.PoidocumentType?.errors && f7.PoidocumentType?.touched}"
              [(ngModel)]="model.KYCDetail.PoidocumentTypeId">
            </ng-select>
            <div class="invalid-feedback" *ngIf="(leadFormKYCDetail.get('PoidocumentType')?.hasError('required')
              && leadFormKYCDetail.get('PoidocumentType')?.touched)">
              select Document Type! </div>

          </div>
          <div class="form-group col-md-4">
            <label>Document Number(POI) </label>
            <input type="text" class="form-control" id="input9" placeholder="Document Number"
              [(ngModel)]="model.KYCDetail.PoidocumentNumber" formControlName="PoidocumentNumber"
              [ngClass]="{ 'is-invalid': f7.PoidocumentNumber?.errors && f7.DocumentNumber?.touched}"
              (keypress)="onCheckDocumentNumberPOI($event,model.KYCDetail.PoidocumentTypeId)"
              [maxlength]="docPOIMaxChar">
            <div class="invalid-feedback"
              *ngIf="(leadFormKYCDetail.get('PoidocumentNumber')?.hasError('required') && leadFormKYCDetail.get('PoidocumentNumber')?.touched)">
              Enter Document Number! </div>
            <div class="invalid-feedback"
              *ngIf="!leadFormKYCDetail.get('PoidocumentNumber')!.hasError('required') &&
              ((this.leadFormKYCDetail!.get('PoidocumentNumber')!.hasError('maxlength') || this.leadFormKYCDetail.get('PoidocumentNumber')!.hasError('minlength')) &&
               this.leadFormKYCDetail.get('PoidocumentNumber')!.touched) || (this.leadFormKYCDetail.get('PoidocumentNumber')!.hasError('maxlength') || this.leadFormKYCDetail.get('PoidocumentNumber')!.hasError('minlength'))">
              Document number length must be {{docPOIMaxChar}} char or digit...! </div>
          </div>

          <div class="form-group col-md-4">
            <label>Document (POA)</label>


            <ng-select [items]="ddlDocumentTypePOA"
              (change)="this.model.KYCDetail.PoadocumentNumber=null;onChangePOADocument()" [searchable]="true"
              (clear)="onChangePOADocument(model.KYCDetail.PoidocumentTypeId)" [clearable]="true" bindLabel="Name"
              bindValue="Id" placeholder="Select Document Type" formControlName="PoadocumentType"
              [ngClass]="{ 'is-invalid': f7.PoadocumentType?.errors && f7.PoadocumentType?.touched}"
              [(ngModel)]="model.KYCDetail.PoadocumentTypeId">
            </ng-select>

            <div class="invalid-feedback" *ngIf="(leadFormKYCDetail.get('PoadocumentType')?.hasError('required')
              && leadFormKYCDetail.get('PoadocumentType')?.touched)">
              select Document For Proof of address...! </div>

          </div>
          <div class="form-group col-md-4">
            <label>Document Number (POA) </label>
            <input type="text" class="form-control" id="input9" placeholder="Document Number"
              [(ngModel)]="model.KYCDetail.PoadocumentNumber" formControlName="PoadocumentNumber"
              [ngClass]="{ 'is-invalid': f7.PoadocumentNumber?.errors && f7.DocumentNumber?.touched}"
              (keypress)="onCheckDocumentNumberPOA($event,model.KYCDetail.PoadocumentTypeId)"
              [maxlength]="docPOAMaxChar">
            <div class="invalid-feedback"
              *ngIf="(leadFormKYCDetail.get('PoadocumentNumber')?.hasError('required') && leadFormKYCDetail.get('PoadocumentNumber')?.touched)">
              Enter Document Number! </div>
            <div class="invalid-feedback"
              *ngIf="!leadFormKYCDetail.get('PoadocumentNumber')!.hasError('required') &&
              ((this.leadFormKYCDetail!.get('PoadocumentNumber')!.hasError('maxlength') || this.leadFormKYCDetail.get('PoadocumentNumber')!.hasError('minlength')) &&
               this.leadFormKYCDetail.get('PoadocumentNumber')!.touched) || (this.leadFormKYCDetail.get('PoadocumentNumber')!.hasError('maxlength') || this.leadFormKYCDetail.get('PoadocumentNumber')!.hasError('minlength'))">
              Document number length must be {{docPOAMaxChar}} char or digit...! </div>


          </div>


          <div class="form-group col-md-4">
            <label>PAN Number</label>
            <input type="text" [maxlength]="10" class="form-control" id="input10" placeholder="PAN Number"
              [ngModel]="model.KYCDetail.PANNumber | uppercase" formControlName="PanNumber"
              [ngClass]="{ 'is-invalid': f7.PanNumber?.errors && f7.PanNumber?.touched}">
            <div class="invalid-feedback"
              *ngIf="(leadFormKYCDetail.get('PanNumber')?.hasError('required') && leadFormKYCDetail.get('PanNumber')?.touched)">
              Enter Pan Number! </div>

            <div class="invalid-feedback"
              *ngIf="(leadFormKYCDetail.get('PanNumber')?.hasError('') && leadFormKYCDetail.get('PanNumber')?.touched)">
              Enter Pan Number! </div>

            <div class="invalid-feedback"
              *ngIf="!leadFormKYCDetail.get('PanNumber')!.hasError('required') &&
              ((this.leadFormKYCDetail!.get('PanNumber')!.hasError('maxlength') || this.leadFormKYCDetail.get('PanNumber')!.hasError('minlength')) &&
               this.leadFormKYCDetail.get('PanNumber')!.touched) || (this.leadFormKYCDetail.get('PanNumber')!.hasError('maxlength') || this.leadFormKYCDetail.get('PanNumber')!.hasError('minlength'))">
              PAN number length must be 10 char or digit...! </div>
          </div>

        </div>
      </div>

      <div class="step-form-btn-grp mt-3">
        <button class="btn btn-outline-danger mr-3" mat-button matStepperPrevious><i
            class="fas fa-angle-left mr-1"></i>Back</button>

        <button class="btn btn-primary" mat-button matStepperNext><i class="fas fa-check mr-1"></i> Next</button>
      </div>
    </form>
  </mat-step>


  <!-- Document Upload -->

  <mat-step [stepControl]="leadFormExistingLoanDetail">
    <form [formGroup]="leadFormExistingLoanDetail" (ngSubmit)="leadFormExistingLoanDetail.markAllAsTouched()">
      <ng-template matStepLabel>Exisiting loan Details</ng-template>
      <div class="step-grp-content">
        <div class="custom_stepers-body-items-form row">

          <div class="form-group col-md-4">
            <label>Bank Name : </label>
            <input type="text" class="form-control" id="input9" placeholder="Bank Name"
              [(ngModel)]="model.ExistingLoanDetail.BankName" formControlName="BankName"
              [ngClass]="{ 'is-invalid': f7.BankName?.errors && f7.BankName?.touched}" [maxlength]="100">
            <div class="invalid-feedback"
              *ngIf="(leadFormExistingLoanDetail.get('BankName')?.hasError('required') && leadFormExistingLoanDetail.get('BankName')?.touched)">
              Enter Bank Name! </div>
          </div>

          <div class="form-group col-md-4">
            <label>Amount : </label>
            <input type="text" class="form-control" id="input9" placeholder="Amount"
              [(ngModel)]="model.ExistingLoanDetail.Amount" formControlName="Amount"
              (keypress)="_commonService.NumberOnly($event)"
              [ngClass]="{ 'is-invalid': f7.Amount?.errors && f7.Amount?.touched}" [maxlength]="10">
            <div class="invalid-feedback"
              *ngIf="(leadFormExistingLoanDetail.get('Amount')?.hasError('required') && leadFormExistingLoanDetail.get('Amount')?.touched)">
              Enter Amount! </div>

          </div>

          <div class="form-group col-md-4 date-icon-with-label">
            <label>Date </label>
            <input class="form-control" #datepickerApp="bsDatepicker" placeholder="DD-MM-YYYY" formControlName="Date"
              [ngClass]="{ 'is-invalid': f6.Date.errors && f6.Date.touched}" bsDatepicker
              [(ngModel)]="model.ExistingLoanDetail.Date"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true,isAnimated: true, showWeekNumbers: false }">
            <i class="fas fa-calendar-alt" (click)="datepickerApp.toggle()"></i>
            <div class="invalid-feedback"
              *ngIf="(leadFormExistingLoanDetail.get('Date')?.hasError('required') && leadFormExistingLoanDetail.get('Date')?.touched)">
              select date </div>
          </div>


          <div class="form-group col-md-4">
            <label>Jewellery Valuation : </label>
            <input type="text" class="form-control" id="input9" placeholder="Jewellery Valuation"
              [(ngModel)]="model.ExistingLoanDetail.JewelleryValuation" formControlName="JewelleryValuation"
              (keypress)="_commonService.NumberOnly($event)"
              [ngClass]="{ 'is-invalid': f6.JewelleryValuation?.errors && f6.JewelleryValuation?.touched}"
              [maxlength]="10">
            <div class="invalid-feedback"
              *ngIf="(leadFormExistingLoanDetail.get('JewelleryValuation')?.hasError('required') && leadFormExistingLoanDetail.get('JewelleryValuation')?.touched)">
              Enter Jewellery Valuation! </div>
          </div>


          <div class="form-group col-md-4">
            <label>Outstanding Amount : </label>
            <input type="text" class="form-control" id="input9" placeholder="Outstanding Amount"
              [(ngModel)]="model.ExistingLoanDetail.OutstandingAmount" formControlName="OutstandingAmount"
              (keypress)="_commonService.NumberOnly($event)"
              [ngClass]="{ 'is-invalid': f6.OutstandingAmount?.errors && f6.OutstandingAmount?.touched}"
              [maxlength]="10">
            <div class="invalid-feedback" *ngIf="(leadFormExistingLoanDetail.get('OutstandingAmount')?.hasError('required') &&
               leadFormExistingLoanDetail.get('OutstandingAmount')?.touched)">
              Enter Outstanding Amount! </div>
          </div>


          <div class="form-group col-md-4">
            <label>Balance Transfer Amount : </label>
            <input type="text" class="form-control" id="input9" placeholder="Balance Transfer Amount"
              [(ngModel)]="model.ExistingLoanDetail.BalanceTransferAmount" formControlName="BalanceTransferAmount"
              (keypress)="_commonService.NumberOnly($event)"
              [ngClass]="{ 'is-invalid': f6.BalanceTransferAmount?.errors && f6.BalanceTransferAmount?.touched}"
              [maxlength]="10">
            <div class="invalid-feedback" *ngIf="(leadFormExistingLoanDetail.get('BalanceTransferAmount')?.hasError('required') &&
               leadFormExistingLoanDetail.get('BalanceTransferAmount')?.touched)">
              Enter Balance Transfer Amount! </div>
          </div>

          <div class="form-group col-md-4">
            <label>Required Amount : </label>
            <input type="text" class="form-control" id="input9" placeholder="Required Amount"
              [(ngModel)]="model.ExistingLoanDetail.RequiredAmount" formControlName="RequiredAmount"
              (keypress)="_commonService.NumberOnly($event)"
              [ngClass]="{ 'is-invalid': f6.RequiredAmount?.errors && f6.RequiredAmount?.touched}" [maxlength]="10">
            <div class="invalid-feedback" *ngIf="(leadFormExistingLoanDetail.get('RequiredAmount')?.hasError('required') &&
               leadFormExistingLoanDetail.get('RequiredAmount')?.touched)">
              Enter Required Amount! </div>
          </div>

          <div class="form-group col-md-4">
            <label>Tenure : </label>
            <input type="text" class="form-control" id="input9" placeholder="Tenure"
              [(ngModel)]="model.ExistingLoanDetail.Tenure" formControlName="Tenure"
              (keypress)="_commonService.NumberOnly($event)"
              [ngClass]="{ 'is-invalid': f6.Tenure?.errors && f6.Tenure?.touched}" [maxlength]="2">
            <div class="invalid-feedback" *ngIf="(leadFormExistingLoanDetail.get('Tenure')?.hasError('required') &&
               leadFormExistingLoanDetail.get('Tenure')?.touched)">
              Enter Tenure ! </div>
          </div>


        </div>
      </div>

      <div class="step-form-btn-grp mt-3">
        <button class="btn btn-outline-danger mr-3" mat-button matStepperPrevious><i
            class="fas fa-angle-left mr-1"></i>Back</button>

        <button class="btn btn-primary" mat-button matStepperNext><i class="fas fa-check mr-1"></i> Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="leadFormDocumentDetail">
    <form [formGroup]="leadFormDocumentDetail" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Document Upload</ng-template>
      <div class="step-grp-content">
        <div class="custom_stepers-body-items-form row">

          <div class="form-group col-md-6">
            <label>Customer Photo</label>
            <input type="hidden" name="CustomerPhoto" [(ngModel)]="model.DocumentDetail.CustomerPhoto"
              formControlName="CustomerPhoto">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(1,$event)"
              [ngClass]="{ 'is-invalid': f5.CustomerPhoto?.errors && f5.CustomerPhoto?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('CustomerPhoto')?.hasError('required') && leadFormDocumentDetail.get('CustomerPhoto')?.touched)">
              Please Add Customer Photo </div>

          </div>
          <div class="form-group col-md-6">
            <label>Blank Cheque 1</label>
            <input type="hidden" name="Cheque1" [(ngModel)]="model.DocumentDetail.BlankCheque1"
              formControlName="Cheque1">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(2,$event)"
              [ngClass]="{ 'is-invalid': f5.Cheque1?.errors && f5.Cheque1?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('Cheque1')?.hasError('required') && leadFormDocumentDetail.get('Cheque1')?.touched)">
              Please Add Blank Cheque 1 </div>


          </div>
          <div class="form-group col-md-6">
            <label>Blank Cheque 2</label>

            <input type="hidden" name="Cheque2" [(ngModel)]="model.DocumentDetail.BlankCheque2"
              formControlName="Cheque2">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(3,$event)"
              [ngClass]="{ 'is-invalid': f5.Cheque2?.errors && f5.Cheque2?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('Cheque2')?.hasError('required') && leadFormDocumentDetail.get('Cheque2')?.touched)">
              Please Add Blank Cheque 2 </div>


          </div>

          <div class="form-group col-md-6">
            <label>KYC Document (POI)</label>
            <input type="hidden" name="POIdocument" [(ngModel)]="model.DocumentDetail.KycDocumentPoi"
              formControlName="POIdocument">

            <app-file-selector [MaxFileLength]="POIMaxFile" (FilesChanged)="onDocumentAttach(4,$event)"
              [ngClass]="{ 'is-invalid': f5.POIdocument?.errors && f5.POIdocument?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('POIdocument')?.hasError('required') && leadFormDocumentDetail.get('POIdocument')?.touched)">
              Please AddKYC Document (POI) </div>



          </div>
          <div class="form-group col-md-6">
            <label>KYC Document (POA)</label>
            <input type="hidden" name="POAdocument" [(ngModel)]="model.DocumentDetail.KycDocumentPoa"
              formControlName="POAdocument">

            <app-file-selector [MaxFileLength]="POAMaxFile" (FilesChanged)="onDocumentAttach(5,$event)"
              [ngClass]="{ 'is-invalid': f5.POAdocument?.errors && f5.POAdocument?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('POAdocument')?.hasError('required') && leadFormDocumentDetail.get('POAdocument')?.touched)">
              Please Add Blank Cheque 2 </div>

          </div>

          <div class="form-group col-md-6">
            <label>Loan Document</label>

            <input type="hidden" name="LoanDocument" [(ngModel)]="model.DocumentDetail.LoanDocument"
              formControlName="LoanDocument">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(6,$event)"
              [ngClass]="{ 'is-invalid': f5.LoanDocument?.errors && f5.LoanDocument?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('LoanDocument')?.hasError('required') && leadFormDocumentDetail.get('LoanDocument')?.touched)">
              Please Add Loan Document </div>



          </div>
          <div class="form-group col-md-6">
            <label>Foreclosure Letter</label>

            <input type="hidden" name="ForeClouserLetter" [(ngModel)]="model.DocumentDetail.ForeClosureLetter"
              formControlName="ForeClouserLetter">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(7,$event)"
              [ngClass]="{ 'is-invalid': f5.ForeClouserLetter?.errors && f5.ForeClouserLetter?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('ForeClouserLetter')?.hasError('required') && leadFormDocumentDetail.get('ForeClouserLetter')?.touched)">
              Please Add Foreclosure Letter </div>

          </div>
          <div class="form-group col-md-6">
            <label>ATM withdrawal slip</label>

            <input type="hidden" name="ATMWithdrawalSlip" [(ngModel)]="model.DocumentDetail.AtmwithdrawalSlip"
              formControlName="ATMWithdrawalSlip">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(8,$event)"
              [ngClass]="{ 'is-invalid': f5.ATMWithdrawalSlip?.errors && f5.ATMWithdrawalSlip?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('ATMWithdrawalSlip')?.hasError('required') && leadFormDocumentDetail.get('ATMWithdrawalSlip')?.touched)">
              Please Add ATM withdrawal slip</div>

          </div>

          <div class="form-group col-md-6">
            <label>Promissory Note</label>
            <input type="hidden" name="PromisaryNote" [(ngModel)]="model.DocumentDetail.PromissoryNote"
              formControlName="PromisaryNote">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(9,$event)"
              [ngClass]="{ 'is-invalid': f5.PromisaryNote?.errors && f5.PromisaryNote?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('PromisaryNote')?.hasError('required') && leadFormDocumentDetail.get('PromisaryNote')?.touched)">
              Please Add Promissory Note </div>

          </div>
          <div class="form-group col-md-6">
            <label>Last page of the Agreement</label>
            <input type="hidden" name="LastPageOfAgreement" [(ngModel)]="model.DocumentDetail.AggrementLastPage"
              formControlName="LastPageOfAgreement">

            <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach(10,$event)"
              [ngClass]="{ 'is-invalid': f5.LastPageOfAgreement?.errors && f5.LastPageOfAgreement?.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(leadFormDocumentDetail.get('LastPageOfAgreement')?.hasError('required') && leadFormDocumentDetail.get('LastPageOfAgreement')?.touched)">
              Please Last page of the Agreement </div>

          </div>
        </div>
      </div>

      <div class="step-form-btn-grp mt-3">
        <button class="btn btn-outline-danger mr-3" mat-button matStepperPrevious><i
            class="fas fa-angle-left mr-1"></i>Back</button>
        <button class="btn btn-success" mat-button type="submit"><i class="fas fa-check mr-1"></i> Submit</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>


<!--
<div class="form-group col-md-4">
  <label>Tenure </label>
  <input type="text" [maxlength]="3" (keypress)="_commonService.NumberOnly($event)" class="form-control"
    id="input14" placeholder="Tenure" [(ngModel)]="model.JewelleryDetail.PreferredLoanTenure"
    formControlName="Tenure" [ngClass]="{ 'is-invalid': f3.Tenure.errors && f3.Tenure.touched}">

  <div class="invalid-feedback"
    *ngIf="(leadFormJewelleryDetail.get('Tenure')?.hasError('required') && leadFormJewelleryDetail.get('Tenure')?.touched)">
    select Tenure! </div>
</div> -->
