<div class="widget-content widget-content p-3 form-grp-w-border">
  <h2> <img src="assets/img/bank_details_white.png"> Bank Details</h2>
  <form [formGroup]="formGroup">

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>A/C Number</label>
        <input type="text" class="form-control" id="bnkinput1" [(ngModel)]="bankModel.AccountNumber"
          formControlName="AccountNumber" (keypress)="_commonService.NumberOnly($event)"  [ngClass]="{ 'is-invalid': f.AccountNumber?.errors && f.AccountNumber?.touched}"
          placeholder="account number">

        <div class="invalid-feedback"
          *ngIf="(formGroup.get('AccountNumber')?.hasError('required') && formGroup.get('AccountNumber')?.touched)">
          Please fill Account Number...! </div>

      </div>

      <div class="form-group col-md-4">
        <label>IFSC Code</label>
        <input type="text" class="form-control" id="bnkinput2" [ngModel]="bankModel.Ifsccode | uppercase"
          formControlName="Ifsccode" (keypress)="_commonService.AlphaNumericOnly($event)"  [ngClass]="{ 'is-invalid': f.Ifsccode?.errors && f.Ifsccode?.touched}"
          placeholder="ifsc code">
        <div class="invalid-feedback"
          *ngIf="(formGroup.get('Ifsccode')?.hasError('required') && formGroup.get('Ifsccode')?.touched)">
          Please fill IFSC code...! </div>


      </div>

      <div class="form-group col-md-4">
        <label>Bank Name</label>
        <input type="text" class="form-control" id="bnkinput2" [(ngModel)]="bankModel.BankName"
          formControlName="BankName" [ngClass]="{ 'is-invalid': f.BankName?.errors && f.BankName?.touched}"
          placeholder="bank name">

        <div class="invalid-feedback"
          *ngIf="(formGroup.get('BankName')?.hasError('required') && formGroup.get('BankName')?.touched)">
          Please fill Bank Name...! </div>
      </div>
    </div>
  </form>
</div>
