<!-- Lead Approval Modal  Start -->
<div id="Modal-Lead-Approval" class="custom-modal">
  <div class="modal-content">
      <div class="modal-header p-3">
          <h5 class="modal-title m-0">{{ model.Id > 0 ? 'Update ': 'Add ' + this.data.Heading }}</h5>
          <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="px-3 pt-3 pb-0">
          <form [formGroup]="formgrp" (ngSubmit)="onSubmit()">
              <div class="form-row">
                  <div class="form-group col-md-12">
                      <label>Reporting Person <strong class="text-danger ml-1">*</strong></label>
                      <select class="form-control" [(ngModel)]="model.ReportingUserId" formControlName="reportingUser" [ngClass]="{ 'is-invalid': f.reportingUser.errors && f.reportingUser.touched}">
                        <option value="undefined">--Select Reporting Person--</option>
                        <option *ngFor="let data of reportingUsers" [value]="data.UserId">
                {{data.Name}}
              </option>
            </select>
                      <div class="invalid-feedback" *ngIf="(formgrp.get('reportingUser')?.hasError('required') && formgrp.get('reportingUser')?.touched)">
                          Please select  <strong>reporting person</strong></div>
                      </div>
              </div>
          </form>
      </div>
      <div class="modal-footer border-0 pt-0">
          <button type="submit" (click)="onSubmit()" class="btn btn-success"> <i class="fas fa-check mr-1"></i>
            Submit</button>
          <button type="button" (click)="onClose()" class="btn btn-outline-danger" aria-label="Close"><i
          class="fas fa-times mr-1"></i> Cancel</button>
      </div>
  </div>
</div>
<!-- Lead Approval Modal  End -->
