<div id="Modal-Lead-Approval" class="custom-modal">
  <div class="modal-content">
    <div class="modal-header p-3">
      <h5 class="modal-title m-0"><i class="far fa-clock"></i>
        {{ this.data.Heading }}
      </h5>
      <button
        type="button"
        (click)="onClose()"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="px-3 pt-3 pb-0">
      <form [formGroup]="leadFromAppointmentDetail" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class ="form-group col-md-3">
              <label>Pincode</label>
              <input type="text" formControlName="Pincode" class="form-control"[(ngModel)]="model.Pincode" (blur)="getBranch()" name="Pincode" placeholder="Pincode">
              </div>
              <div class="form-group col-md-3">
                <label>Branch</label>
                <select class="form-control" placeholder="Select Branch" formControlName="Branch" [ngClass]="{ 'is-invalid': f4.Branch.errors && f4.Branch.touched  }"
                  [(ngModel)]="model.BranchId">
                  <option value="undefined">Select Branch</option>
                  <option *ngFor="let data of ddlBranchModel" [value]="data.Id"> {{data.BranchName}}
                  </option>
                </select>
                <div class="invalid-feedback"*ngIf="leadFromAppointmentDetail .get('Branch') ?.hasError('required') && leadFromAppointmentDetail.get('Branch')?.touched" >
               Please select branch </div>
              </div>
              <div class="form-group col-md-3 date-icon-with-label">
                <label>Date of Appointment</label>
                <input class="form-control" #datepickerYMD="bsDatepicker"placeholder="DD-MM-YYYY"  formControlName="DateofAppointment"[ngClass]="{ 'is-invalid': f4.DateofAppointment.errors && f4.DateofAppointment.touched }"
                  bsDatepicker [(ngModel)]="model.AppointmentDate"      [bsConfig]="{  dateInputFormat: 'DD-MM-YYYY',  adaptivePosition: true,  isAnimated: true,  showWeekNumbers: false }"/> <i class="fas fa-calendar-alt" (click)="datepickerYMD.toggle()" ></i>
                <div class="invalid-feedback" *ngIf="leadFromAppointmentDetail.get('DateofAppointment') ?.hasError('required') && leadFromAppointmentDetail.get('DateofAppointment')?.touched">
                  select date of Appointment  </div>
              </div>
              <div class="form-group col-md-3">
                <label> Time of Appointment</label>
                <input
                  type="time" class="form-control" id="input16"  [(ngModel)]="model.AppointmentTime" formControlName="TimeofAppointment"
                  [ngClass]="{'is-invalid': f4.TimeofAppointment.errors && f4.TimeofAppointment.touched }" class="form-control"  placeholder="Time picker" />
                <div class="invalid-feedback"*ngIf="leadFromAppointmentDetail.get('TimeofAppointment')?.hasError('required') && leadFromAppointmentDetail.get('TimeofAppointment')?.touched ">
                  select Time of Appointment </div>
              </div>
        </div>
      </form>
    </div>
    <div class="modal-footer border-0 pt-0">
      <button type="submit" (click)="onSubmit()" class="btn btn-success">
        <i class="fas fa-check mr-1"></i> Submit
      </button>
      <button
        type="button"
        (click)="onClose()"
        class="btn btn-outline-danger"
        aria-label="Close"
      >
        <i class="fas fa-times mr-1"></i> Cancel
      </button>
    </div>
  </div>
</div>
