<div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/security-deposit.png">Security Deposit</h2>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Payment Mode</label>
            <select class="form-control">
                    <option>--Select--</option>
                    <option>--Select--</option>
                    <option>--Select--</option>
                </select>
        </div>
        <div class="form-group col-md-4">
            <label>Amount</label>
            <input type="text" class="form-control" id="input1" placeholder="Enter Amount">
        </div>

        <div class="form-group col-md-4">
            <label>Credit Date</label>
            <input type="text" class="form-control" id="input2" placeholder="20-02-1998">
        </div>

        <div class="form-group col-md-4">
            <label>Referance Number</label>
            <input type="text" class="form-control" id="input1" placeholder="Enter Number">
        </div>

        <div class="form-group col-md-4">
            <label>Account Number</label>
            <input type="text" class="form-control" id="input1" placeholder="Enter Account Number">
        </div>
        <div class="form-group col-md-4">
            <label>Bank Name</label>
            <input type="text" class="form-control" id="input1" placeholder="Enter Bank Name">
        </div>



    </div>
</div>


<div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/kyc_details_white.png"> KYC Details</h2>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Document Type</label>

            <ng-select [items]="dropDown!.ddlDocumentType" bindLabel="Text" bindValue="Value" placeholder="Document Type" appendTo="body" [(ngModel)]="model.KycdocumentTypeId">
            </ng-select>
        </div>
        <div class="form-group col-md-6">
            <label>Document number</label>
            <input type="text" class="form-control" id="input1" [(ngModel)]="this.model.Kycnumber" placeholder="Enter number">
        </div>
        <div class="form-group col-md-2" *ngIf="model.KycdocumentTypeId && this.model.Kycnumber">
            <label class="d-none d-md-block">&nbsp;</label>
            <button (click)="AddEditKycItem()" class="btn btn-primary w-100 p-10"> <i class="fas fa-plus mr-1"></i> Add</button>
        </div>

        <div class="col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-striped dataTable table-header table-blue table-no-border">
                    <thead>
                        <tr>
                            <th>Document Type</th>
                            <th>Document Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of kycModel; let i=index">
                            <td>{{getDocumentType(item.KycdocumentTypeId)}}</td>
                            <td>{{item.Kycnumber}}</td>
                            <td class="table-action-btn">
                                <button (click)="fillKycItem(i)" class="table-action-btn-edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fas fa-edit"></i></button>
                                <button (click)="removeKycItem(i)" class="table-action-btn-delete" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>