<div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/kyc_details_white.png"> KYC Details</h2>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Document Type</label>
            <select class="form-control">
                                    <option>--Select Type--</option>
                                    <option>--Select Type--</option>
                                    <option>--Select Type--</option>
                                </select>
        </div>
        <div class="form-group col-md-6">
            <label>Document number</label>
            <input type="email" class="form-control" id="input1" placeholder="Enter number">
        </div>


    </div>
</div>