<!-- Personal Details Form Start -->
<div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/personal_detail.png">Personal Details</h2>
    <div class="table-responsive">
        <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
            <tbody>
                <tr>
                    <td style="width: 20%;"> <strong> Full name:: </strong> </td>
                    <td style="width: 30%;">Manish agarwal</td>
                    <td style="width: 20%;"><strong> Father's name: </strong> </td>
                    <td style="width: 30%;">Mohit sharma</td>
                </tr>

                <tr>
                    <td><strong> Emial ID: </strong> </td>
                    <td>ma858855@gmail.com </td>
                    <td><strong> Gender : </strong> </td>
                    <td>Male</td>
                </tr>

                <tr>

                    <td><strong> Date of birth: </strong> </td>
                    <td>20-02-1997</td>
                    <td><strong> Mobile number: </strong> </td>
                    <td>+91 9862354895</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Personal Details Form End -->

<!-- Salaried Form Start -->
<div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/salaried.png">Salaried</h2>
    <div class="table-responsive">
        <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
            <tbody>
                <tr>
                    <td style="width: 20%;"> <strong> Loan Amount Needed: </strong> </td>
                    <td style="width: 30%;">₹5,00,000</td>
                    <td style="width: 20%;"><strong> Net Monthly Income: </strong> </td>
                    <td style="width: 30%;">₹45987</td>
                </tr>

                <tr>
                    <td><strong> Emloyer Type: </strong> </td>
                    <td>Enter Emloyer Type </td>
                    <td><strong> Existing Loan From : </strong> </td>
                    <td>₹5,00,000</td>
                </tr>

                <tr>

                    <td><strong> Current Loan Outstanding: </strong> </td>
                    <td>₹5,00,000</td>
                    <td><strong> Current Interest on Loan: </strong> </td>
                    <td>₹5,00,000</td>
                </tr>
                <tr>

                    <td><strong> EMI Amount: </strong> </td>
                    <td>₹5,00,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Salaried Form End -->

<!-- Self Employed Form Start -->
<div class="widget-content widget-content p-3 form-grp-w-border">
    <h2> <img src="assets/img/freelancer.png">Self Employed</h2>
    <div class="table-responsive">
        <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
            <tbody>
                <tr>
                    <td style="width: 20%;"> <strong> Professional: </strong> </td>
                    <td style="width: 30%;">Enter Professional</td>
                    <td style="width: 20%;"><strong> Registration Year: </strong> </td>
                    <td style="width: 30%;">20-20-1997</td>
                </tr>

                <tr>
                    <td><strong> Type of Incorpored: </strong> </td>
                    <td>Enter Incorpored </td>
                    <td><strong> Income as Per Last ITR : </strong> </td>
                    <td>₹5,00,000</td>
                </tr>

                <tr>

                    <td><strong> No. of Year ITR: </strong> </td>
                    <td>₹5,00,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Self Employed Form End -->