<!-- Page Header Title start -->
<div class="widget-header">
    <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
        <div>
            <h1> Add manager </h1>
            <!-- Breadcrumb Start -->
            <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Add manager </a></li>
                </ol>
            </nav>
            <!-- Breadcrumb End -->
        </div>
    </div>
</div>
<!-- Page Header Title end -->



<div class="p-4">
    <div class="update-manager">
        <div class="page-profile-w-edit">
            <div class="page-profile d-flex align-items-center justify-content-center mx-auto mb-3"><img src="assets/img/user-default.jpg"></div>
            <div class="upload-btn-wrapper mt-0">
                <button class="btn-upload" data-toggle="tooltip" data-placement="bottom" title="Change Profile"><i class="fas fa-edit"></i></button>
                <input type="file" name="myfile" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Full name</label>
                <input type="email" class="form-control" id="input1" placeholder="Enter Full name">
            </div>
            <div class="form-group col-md-4">
                <label>Father name</label>
                <input type="email" class="form-control" id="input2" placeholder="Enter Father name">
            </div>
            <div class="form-group col-md-4">
                <label>Date of birth</label>
                <input type="email" class="form-control" id="input3" placeholder="20-02-1998">
            </div>
            <div class="form-group col-md-4">
                <label>Mobile number</label>
                <input type="email" class="form-control" id="input3" placeholder="962358654">
            </div>
            <div class="form-group col-md-4">
                <label>Email ID</label>
                <input type="email" class="form-control" id="input3" placeholder="test@gmail.com">
            </div>
            <div class="form-group col-md-4">
                <label>User Role</label>
                <select class="form-control">
            <option>--Select--</option>
            <option>--Select--</option>
            <option>--Select--</option>
        </select>
            </div>
            <div class="form-group col-md-4">
                <label>State</label>
                <select class="form-control">
            <option>--Select State--</option>
            <option>--Select State--</option>
            <option>--Select State--</option>
        </select>
            </div>
            <div class="form-group col-md-4">
                <label>District</label>
                <select class="form-control">
            <option>--Select District--</option>
            <option>--Select District--</option>
            <option>--Select District--</option>
        </select>
            </div>
            <div class="form-group col-md-4">
                <label>Pincode</label>
                <input type="email" class="form-control" placeholder="235698" disabled>
            </div>
        </div>
        <div class="form-footer-btn-grp widget-content widget-content p-3 text-center">
            <button type="submit" class="btn btn-success mr-3"> <i class="fas fa-check mr-1"></i> Save
        application</button>
            <button type="button" class="btn btn-outline-danger"> <i class="fas fa-times mr-1"></i> Cancel</button>
        </div>
    </div>
</div>